<div class='radio'>
  <input
    id='{{id}}'
    type='radio'
    name='{{name}}'
    value='{{value}}'
    class='mr-2'
    {{ attributes }}
    {% if checked %}checked='checked'{% endif %}
    {% if disabled %}disabled='disabled'{% endif %}
  />
  <label for='{{id}}'>
    {{label}}
  </label>
</div>

{% assign label = blank %}
{% assign name = blank %}
{% assign value = blank %}
{% assign attributes = blank %}
{% assign checked = blank %}
