<div class="size-info">Sizing is Unisex. <a href="#sizeGuide" data-lity>Size Guide Here.</a></div>

<div class="size-guide lity-hide" id="sizeGuide">
  <div class="size-guide-layout">
    {% comment %} <div class="close-sizes lity-close" data-lity-close>
      <img src="{{'icon-builder-close.svg'| asset_url}}" alt="Close Size Guide"/>
     </div> {% endcomment %}
    <h2 class="size-guide-title">Size Chart</h2>
			<table class="size-tops">
			{% assign top_count = 0 %}
			{% for block in section.blocks %}
				{% if block.type == 'tops-generic' and top_count == 0 %}
					{% assign top_count = top_count | plus: 1 %}
					<thead>
						<tr>
							{% for index in (1..5) %}
							  {% assign col_num = 'col_' | append: index %}
								{% if block.settings[col_num] != blank %}
									<th>{{ block.settings[col_num] }}</th>	
								{% endif %}
							{% endfor %}
						</tr>
					</thead>
					<tbody>
				{% elsif block.type == 'tops-generic' %}
					<tr>
						{% for index in (1..5) %}
							{% assign col_num = 'col_' | append: index %}
							{% if block.settings[col_num] != blank %}
								<th>{{ block.settings[col_num] }}</th>	
							{% endif %}
						{% endfor %}
					</tr>
				{% endif %}
			{% endfor %}
			</tbody>
    </table>
    <p class="desktop-only">{{section.settings.size_top_desktop}}</p>
    <p class="mobile-only">{{section.settings.size_top_mobile}}</p>
  </div>
</div>