{% assign product_top_short = section.settings.product_top_short %}
{% assign product = all_products[product_top_short] %}
{% assign current_variant = product.selected_or_first_available_variant %}
{% assign product_type = product.type | handleize %}

{% if product.type == 'House Hoodie' %}
  {% assign product_type = 'House Hoodies' | handleize %}
{% endif %}
{% if product.type == 'JamTee' %}
  {% assign product_type = 'JamTees' | handleize %}
{% endif %}
{% assign has_product_switcher = false %}
{% if product.type == 'Double Cozy Cloak' or product.type == 'Cozy Cloak' %}
  {% assign has_product_switcher = true %}
{% endif %}

{% assign color_collection = collections[product_type].products | where: 'type', product.type %}

<div 
 class="builder-top-product top-product-short js-top-short builder-panel" 
 data-apparel-type="top" 
 data-apparel-length="short"
>
  <div class="product" data-component="product" data-selected-variant="{{current_variant.id}}">

    <div class="tops-text top-text-short">{{section.settings.top_text}}</div>
    <p class="guarantee">{{section.settings.guarantee}}</p>
    <div class="product-selections">
      <div class="product-colors">
        {% assign collection = collections[section.settings.collection_top_short] %}
        <div class="color-options">
          {% comment %}
          {% render 'builder-product-colorways', product: product, collection: collection  %}
          {% endcomment %}
          {% comment %}
          Addison Applications color swacthes 02/20
          {% endcomment %}
          {% if color_collection %}
            <div><span class="bundle-color h2 js-option-color-txt">{{ product_title }}</span></div>

            <div class='product-options-wrapper'>
              <div class='fieldset flex'>
                <div class='legend flex'>
                  <div class='legend-label'>
                    Color
                  </div>
                </div>
                <div class='flex flex-col'>
                  <ul class="product-color-swatches product-colorways">
                    {% for collection_product in color_collection %}
                      {% comment %} {% unless collection_product.compare_at_price != blank %} {% endcomment %}
                        {% if collection_product.metafields.product.color %}
                          {% comment %} <pre>::: collection_product.handle: {{ collection_product.handle }}</pre> {% endcomment %}
                          <li {% if collection_product.id == product.id %} class="active"{% endif %} 
                              data-color-swatch="{{ collection_product.metafields.product.color }}" 
                              data-product-id-swatch="{{ collection_product.id }}"
                              data-js-product-handle="{{ collection_product.handle }}"
                              data-js-product-url="{{ collection_product.url }}"
                              data-js-product-id="{{ collection_product.id }}"
                              data-js-product-type="{{ collection_product.type }}"
                              data-js-product-title="{{ collection_product.title }}"
                              data-js-product-feat-img="{{ collection_product.featured_image | image_url }}"
                              {% if collection_product.handle == section.settings.product_top_short %}
                              data-is-selected
                              {% endif %}>
                          </li>
                          <script id="{{collection_product.handle}}-{{collection_product.id}}-variants-details" data-product="{{collection_product.handle}}" type="text/plain">
                            {
                              {% for variant in collection_product.variants %}
                                "{{variant.title}}": {
                                  "variantId": {{variant.id}},
                                  "price": {{variant.price}},
                                  "sku": "{{variant.sku}}",
                                  "available": {{variant.available}}
                                } {% unless forloop.last %},{% endunless %}
                              {% endfor %}
                            }
                          </script>
                          <script id="{{collection_product.handle}}-{{collection_product.id}}-size-mockup" type="text/html">
                            {% render 'builder-product-options', product: collection_product %}
                          </script>
                          <script id="{{collection_product.handle}}-{{collection_product.id}}-gallery-mockup" type="text/html">
                            {% render 'builder-images-slider', product: collection_product %}
                          </script>
                        {% endif %}
                      {% comment %} {% endunless %} {% endcomment %}
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
      <div class="product-size">
        {% render 'builder-product-options', product: product %}
        {% include 'builder-size-guide-tops' %}
      </div>
    </div>
    <button class="button js-to-choose-bottom to-choose-bottom js-button-height">
      <span class="ato">
        <img src="{{'icon-button-plus.svg' | file_url }}" alt="plus icon" />
        <span>Add to your outfit</span>
      </span>
      <p>
        <span class="old-price">
          <span class="js-old-price" style="color:white;margin-right: 0;">$47</span>
        </span>
        <span class="new-price js-new-price">$37.60</span>
      </p>
    </button>
  </div>
</div>


{% assign product_top_long = section.settings.product_top_long %}
{% assign product = all_products[product_top_long] %}
{% assign current_variant = product.selected_or_first_available_variant %}

{% assign product_type = product.type | handleize %}

{% if product.type == 'House Hoodie' %}
  {% assign product_type = 'House Hoodies' | handleize %}
{% endif %}
{% if product.type == 'JamTee' %}
  {% assign product_type = 'JamTees' | handleize %}
{% endif %}
{% assign has_product_switcher = false %}
{% if product.type == 'Double Cozy Cloak' or product.type == 'Cozy Cloak' %}
  {% assign has_product_switcher = true %}
{% endif %}

{% assign color_collection = collections[product_type].products | where: 'type', product.type %}


<div
  class="builder-top-product top-product-long js-top-long builder-panel" 
  data-apparel-type="top" 
  data-apparel-length="long"
>
  <div class="product" data-component="product" data-selected-variant="{{current_variant.id}}">
    <div class="tops-text top-text-short">{{section.settings.top_text_long}}</div>
      <p class="guarantee">{{section.settings.guarantee}}</p>
      <div class="product-selections">
        <div class="product-colors">
          {% assign collection = collections[section.settings.collection_top_long] %}
          <div class="color-options">
            {% comment %}
            {% render 'builder-product-colorways', product: product, collection: collection  %}
            {% endcomment %}
            {% comment %}
            {% render 'builder-product-colorways', product: product, collection: collection  %}
            {% endcomment %}
            {% comment %}
            Addison Applications color swacthes 02/20
            {% endcomment %}
            {% if color_collection %}
            <div><span class="bundle-color h2 js-option-color-txt">{{ product_title }}</span></div>
            <div class='product-options-wrapper'>
              <div class='fieldset flex'>
                <div class='legend flex'>
                  <div class='legend-label'>
                    Color
                  </div>
                </div>
                <div class='flex flex-col'>
                <ul class="product-color-swatches product-colorways">
                {% for collection_product in color_collection %}
                  {% if collection_product.metafields.product.color %}
                  <li {% if collection_product.id == product.id %} class="active"{% endif %} 
                      data-color-swatch="{{ collection_product.metafields.product.color }}" 
                      data-product-id-swatch="{{ collection_product.id }}"
                      data-js-product-handle="{{ collection_product.handle }}"
                      data-js-product-id="{{ collection_product.id }}"
                      data-js-product-type="{{ collection_product.type }}"
                      data-js-product-title="{{ collection_product.title }}"
                      data-js-product-feat-img="{{ collection_product.featured_image | image_url }}"
                      {% if collection_product.handle == section.settings.product_top_long %}
                      data-is-selected
                      {% endif %}>
                  </li>
                  <script id="{{collection_product.handle}}-{{collection_product.id}}-variants-details" data-product="{{collection_product.handle}}" type="text/plain">
                    {
                      {% for variant in collection_product.variants %}
                        "{{variant.title}}": {
                          "variantId": {{variant.id}},
                          "price": {{variant.price}},
                          "sku": "{{variant.sku}}",
                          "available": {{variant.available}}
                        } {% unless forloop.last %},{% endunless %}
                      {% endfor %}
                    }
                  </script>
                  <script id="{{collection_product.handle}}-{{collection_product.id}}-size-mockup" type="text/html">
                    {% render 'builder-product-options', product: collection_product %}
                  </script>
                  <script id="{{collection_product.handle}}-{{collection_product.id}}-gallery-mockup" type="text/html">
                    {% render 'builder-images-slider', product: collection_product %}
                  </script>
                  {% endif %}
                {% endfor %}
                </ul>
                </div>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
        <div class="product-size">
          {% render 'builder-product-options', product: product %}
          {% include 'builder-size-guide-tops' %}
        </div>
      </div>
      <button class="button js-to-choose-bottom to-choose-bottom js-button-height">
        <span class="ato"><img src="{{'icon-button-plus.svg' | file_url }}" alt="plus icon" /><span>Add to your outfit</span></span>
        <p>
          <span class="old-price">
            <span class="js-old-price" style="color:white;margin-right:0;">$47</span>
          </span>
          <span class="new-price js-new-price">$37.60</span>
        </p>
      </button>
  </div>
</div>