{% assign product_type = product.type | handleize %}

{% if product.type == 'House Hoodie' %}
  {% assign product_type = 'House Hoodies' | handleize %}
{% endif %}

{% if product.type == 'JamTee' %}
  {% assign product_type = 'JamTees' | handleize %}
{% endif %}

{%- assign product_type_collection = collections[product_type] -%}
{% assign color_collection = product_type_collection.products | where: 'type', product.type %}

{% comment %}Determine the color for the current product{% endcomment %}
{% assign root_color = product.metafields.product.color %}
{% if root_color == blank %}
  {% for option in product.options_with_values %}
    {% if option.name == 'Color' %}
      {% assign root_color = option.values[0] %}
    {% endif %}
  {% endfor %}
{% endif %}

<div class="dtc-collection-swatches dtc-collection-swatches__container dtc-{{product_type}}">
  {% comment %}Create an inline swatch list from sibling products and their images{% endcomment %}
  {% assign limit = 6 %}
  {% assign limit_mobile = 3 %}
  {% assign more = 0 %}

  {% if color_collection and product.handle != 'jambys-gift-card' %}
    <div class="selector-wrapper">
      <ul class="product-color-swatches cc-swatches">
        <li
          class="dtc-collection-swatch root-product selected-swatch"
          data-color-swatch="{{ root_color }}"
          data-product-id-swatch="{{ product.id }}"
          data-js-product-handle="{{ product.handle }}"
          data-js-product-id="{{ product.id }}"
          data-js-product-type="{{ product.type }}"
          data-js-product-title="{{ product.title }}"
          data-js-product-feat-img="{{ product.featured_image | img_url: '600x600' }}"
          data-js-product-url="{{ product.url }}"
        ></li>
        {% for collection_product in color_collection %}
          {% unless collection_product.id == product.id %}
            {% assign color = collection_product.metafields.product.color %}
            {% if color == blank %}
              {% for option in collection_product.options_with_values %}
                {% if option.name == 'Color' %}
                  {% assign color = option.values[0] %}
                {% endif %}
              {% endfor %}
            {% endif %}
            {% assign more = more | plus: 1 %}
            {% if more <= limit %}
              <li
                class="dtc-collection-swatch{% if more > limit_mobile %} sm-hidden{% endif %}"
                data-color-swatch="{{ color }}"
                data-product-id-swatch="{{ collection_product.id }}"
                data-js-product-handle="{{ collection_product.handle }}"
                data-js-product-id="{{ collection_product.id }}"
                data-js-product-type="{{ collection_product.type }}"
                data-js-product-title="{{ collection_product.title }}"
                data-js-product-feat-img="{{ collection_product.featured_image | img_url: '600x600' }}"
                data-js-product-url="{{ collection_product.url }}"
              ></li>
            {% endif %}
          {% endunless %}
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  {% if more > limit %}
    <div class="dtc-collection-link dtc-only-desktop">
      <a href="{{ product.url | within: collection }}">
        <span class="dtc-collection-swatch-more">+{{ more | minus: limit }} more</span>
      </a>
    </div>
  {% endif %}
  {% if more > limit_mobile %}
    <div class="dtc-collection-link dtc-only-mobile">
      <a href="{{ product.url | within: collection }}">
        <span class="dtc-collection-swatch-more">+{{ more | minus: limit_mobile }} more</span>
      </a>
    </div>
  {% endif %}
</div>

