{% assign primary_color = '' %}
{% assign secondary_color = '' %}


{% if value contains 'http' %}
{% elsif value contains '/' %}
{% elsif value != '' %}
  {% assign primary_color = color_swatches %}
{% endif %}

{% case value %}
  {% when 'Black' %}
    {% assign primary_color = '#000000' %}
  {% when 'Gray / Lavender' %}
    {% assign primary_color = '#4A4446' %}
    {% assign secondary_color = '#afa4ce' %}
  {% when 'Lavender / Gray' %}
    {% assign primary_color = '#afa4ce' %}
    {% assign secondary_color = '#4A4446' %}
  {% when 'Navy / Pink' %}
    {% assign primary_color = '#1a2340' %}
    {% assign secondary_color = '#D3929F' %}
  {% when 'Gray / Black' %}
    {% assign primary_color = '#4A4446' %}
  {% when 'Navy / Mint' %}
    {% assign primary_color = '#1a2340' %}
    {% assign secondary_color = '#b9dddd' %}
  {% when 'Navy / Pink' %}
    {% assign primary_color = '#1a2340' %}
    {% assign secondary_color = '#D3929F' %}
  {% when 'Navy' %}
    {% assign primary_color = '#1a2340' %}
  {% when 'Lavender / Mint' %}
    {% assign primary_color = '#afa4ce' %}
    {% assign secondary_color = '#b9dddd' %}
  {% when 'Mint / Navy' %}
    {% assign primary_color = '#b9dddd' %}
    {% assign secondary_color = '#1a2340' %}
  {% when 'Hunter Green' %}
    {% assign primary_color = '#45594C' %}
  {% when 'Cerulean' %}
    {% assign primary_color = '#a8c9e9' %}
  {% when 'Cabernet' %}
    {% assign primary_color = '#64242e' %}
  {% when 'Leopard' %}
    {% assign primary_image = 'https://cdn.shopify.com/s/files/1/0090/4128/1109/t/31/assets/21FahoJambysToastLeopardButton-1637333130829.jpg' %}
  {% when 'Lavender Leopard' %}
    {% assign primary_image = 'https://cdn.shopify.com/s/files/1/0090/4128/1109/t/31/assets/21FahoJambysLavLeopardButton-1637332797375.jpg' %}
  {% when 'Cocoa / Cerulean' %}
    {% assign primary_color = '#785c56' %}
    {% assign secondary_color = '#a8c9e9' %}
  {% when 'Toast' %}
    {% assign primary_color = '#bf9978' %}
  {% when 'Black / Hibiscus' %}
    {% assign primary_color = '#000000' %}
    {% assign secondary_color = '#d83e4b' %}
  {% when 'Hibiscus / Pink' %}
    {% assign primary_color = '#d83e4b' %}
    {% assign secondary_color = '#D3929F' %}
  {% else %}
{% endcase %}

{% if primary_color != '' %}
  {% capture color_swatches %}
    <a href="{{ collection_product.url }}" 
        class="color-swatch"
        data-color-swatch
        data-product-id-swatch="{{ id }}">
        {% if primary_image != blank %}
          <img src="{{ primary_image }}">
        {% else %}

        {% if secondary_color != '' %}
        <div class="h-1-4" style="background-color: {{ secondary_color }};"></div>
        {% else %}
        <div class="h-1-4" style="background-color: {{ primary_color }};"></div>
        {% endif %}
        <div class="h-3-4" style="background-color: {{ primary_color }};"></div>
      {% endif %}
    </a>

  {% endcapture %}
{% endif %}

{{ color_swatches }}