{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}
    <script id="replo-deps-section-settings" data-section-id="{{ section.id }}">{
      {%- assign replo_style_image_9526ccd5-6310-4809-b431-ba997480563b = section.settings['replo_style_image_9526ccd5-6310-4809-b431-ba997480563b'] | image_url -%}
    {%- capture default_replo_style_image_9526ccd5-6310-4809-b431-ba997480563b -%}{%- endcapture -%}
    {%- assign replo_style_image_9526ccd5-6310-4809-b431-ba997480563b = replo_style_image_9526ccd5-6310-4809-b431-ba997480563b | default: default_replo_style_image_9526ccd5-6310-4809-b431-ba997480563b -%}
    "replo_style_image_9526ccd5-6310-4809-b431-ba997480563b": {{ replo_style_image_9526ccd5-6310-4809-b431-ba997480563b | json }}, {%- assign replo_text_46c3b974-0c94-454c-a34f-08804ea08534 = section.settings['replo_text_46c3b974-0c94-454c-a34f-08804ea08534'] -%}
    {%- capture default_replo_text_46c3b974-0c94-454c-a34f-08804ea08534 -%}<p>Say Goodbye</p><p>to Sweaty Sleeping</p>{%- endcapture -%}
    {%- assign replo_text_46c3b974-0c94-454c-a34f-08804ea08534 = replo_text_46c3b974-0c94-454c-a34f-08804ea08534 | default: default_replo_text_46c3b974-0c94-454c-a34f-08804ea08534 -%}
    "replo_text_46c3b974-0c94-454c-a34f-08804ea08534": {{ replo_text_46c3b974-0c94-454c-a34f-08804ea08534 | json }}, {%- assign replo_text_5c6b2997-c600-46e8-b382-deb3199b7690 = section.settings['replo_text_5c6b2997-c600-46e8-b382-deb3199b7690'] -%}
    {%- capture default_replo_text_5c6b2997-c600-46e8-b382-deb3199b7690 -%}<p>Ridiculously soft clothing</p><p>that's cool to the touch.</p>{%- endcapture -%}
    {%- assign replo_text_5c6b2997-c600-46e8-b382-deb3199b7690 = replo_text_5c6b2997-c600-46e8-b382-deb3199b7690 | default: default_replo_text_5c6b2997-c600-46e8-b382-deb3199b7690 -%}
    "replo_text_5c6b2997-c600-46e8-b382-deb3199b7690": {{ replo_text_5c6b2997-c600-46e8-b382-deb3199b7690 | json }}, {%- assign replo_text_fb9d7e28-0fd9-4558-a58f-20a7219ecd3c = section.settings['replo_text_fb9d7e28-0fd9-4558-a58f-20a7219ecd3c'] -%}
    {%- capture default_replo_text_fb9d7e28-0fd9-4558-a58f-20a7219ecd3c -%}<p>10,000+ 5 Star Reviews</p>{%- endcapture -%}
    {%- assign replo_text_fb9d7e28-0fd9-4558-a58f-20a7219ecd3c = replo_text_fb9d7e28-0fd9-4558-a58f-20a7219ecd3c | default: default_replo_text_fb9d7e28-0fd9-4558-a58f-20a7219ecd3c -%}
    "replo_text_fb9d7e28-0fd9-4558-a58f-20a7219ecd3c": {{ replo_text_fb9d7e28-0fd9-4558-a58f-20a7219ecd3c | json }}, {%- assign replo_style_image_bd5c9a48-f785-4641-9a8b-99e9ab927208 = section.settings['replo_style_image_bd5c9a48-f785-4641-9a8b-99e9ab927208'] | image_url -%}
    {%- capture default_replo_style_image_bd5c9a48-f785-4641-9a8b-99e9ab927208 -%}https://cdn.shopify.com/s/files/1/0090/4128/1109/files/Smiley.png?v=1713534217{%- endcapture -%}
    {%- assign replo_style_image_bd5c9a48-f785-4641-9a8b-99e9ab927208 = replo_style_image_bd5c9a48-f785-4641-9a8b-99e9ab927208 | default: default_replo_style_image_bd5c9a48-f785-4641-9a8b-99e9ab927208 -%}
    "replo_style_image_bd5c9a48-f785-4641-9a8b-99e9ab927208": {{ replo_style_image_bd5c9a48-f785-4641-9a8b-99e9ab927208 | json }}, {%- assign replo_style_image_afd6f72e-f34f-4847-aeba-6e4d3b9a395f = section.settings['replo_style_image_afd6f72e-f34f-4847-aeba-6e4d3b9a395f'] | image_url -%}
    {%- capture default_replo_style_image_afd6f72e-f34f-4847-aeba-6e4d3b9a395f -%}https://cdn.shopify.com/s/files/1/0090/4128/1109/files/Chill_O_Meter.png?v=1713534216{%- endcapture -%}
    {%- assign replo_style_image_afd6f72e-f34f-4847-aeba-6e4d3b9a395f = replo_style_image_afd6f72e-f34f-4847-aeba-6e4d3b9a395f | default: default_replo_style_image_afd6f72e-f34f-4847-aeba-6e4d3b9a395f -%}
    "replo_style_image_afd6f72e-f34f-4847-aeba-6e4d3b9a395f": {{ replo_style_image_afd6f72e-f34f-4847-aeba-6e4d3b9a395f | json }}, {%- assign replo_text_4a26ee17-d607-4a06-b8eb-dd562357b76c = section.settings['replo_text_4a26ee17-d607-4a06-b8eb-dd562357b76c'] -%}
    {%- capture default_replo_text_4a26ee17-d607-4a06-b8eb-dd562357b76c -%}<p><b>Free Shipping Orders $75+</b></p>{%- endcapture -%}
    {%- assign replo_text_4a26ee17-d607-4a06-b8eb-dd562357b76c = replo_text_4a26ee17-d607-4a06-b8eb-dd562357b76c | default: default_replo_text_4a26ee17-d607-4a06-b8eb-dd562357b76c -%}
    "replo_text_4a26ee17-d607-4a06-b8eb-dd562357b76c": {{ replo_text_4a26ee17-d607-4a06-b8eb-dd562357b76c | json }}, {%- assign replo_style_image_0aeb89df-62a8-4df1-80e6-68f116542cdd = section.settings['replo_style_image_0aeb89df-62a8-4df1-80e6-68f116542cdd'] | image_url -%}
    {%- capture default_replo_style_image_0aeb89df-62a8-4df1-80e6-68f116542cdd -%}https://cdn.shopify.com/s/files/1/0090/4128/1109/files/Smiley.png?v=1713534217{%- endcapture -%}
    {%- assign replo_style_image_0aeb89df-62a8-4df1-80e6-68f116542cdd = replo_style_image_0aeb89df-62a8-4df1-80e6-68f116542cdd | default: default_replo_style_image_0aeb89df-62a8-4df1-80e6-68f116542cdd -%}
    "replo_style_image_0aeb89df-62a8-4df1-80e6-68f116542cdd": {{ replo_style_image_0aeb89df-62a8-4df1-80e6-68f116542cdd | json }}, {%- assign replo_text_72c8f92d-a0f6-4cc4-932f-c9c3f83770aa = section.settings['replo_text_72c8f92d-a0f6-4cc4-932f-c9c3f83770aa'] -%}
    {%- capture default_replo_text_72c8f92d-a0f6-4cc4-932f-c9c3f83770aa -%}<p><b>Over&nbsp;</b></p>{%- endcapture -%}
    {%- assign replo_text_72c8f92d-a0f6-4cc4-932f-c9c3f83770aa = replo_text_72c8f92d-a0f6-4cc4-932f-c9c3f83770aa | default: default_replo_text_72c8f92d-a0f6-4cc4-932f-c9c3f83770aa -%}
    "replo_text_72c8f92d-a0f6-4cc4-932f-c9c3f83770aa": {{ replo_text_72c8f92d-a0f6-4cc4-932f-c9c3f83770aa | json }}, {%- assign replo_url_2de53372-8fcf-4399-a386-8d91278bf287 = section.settings['replo_url_2de53372-8fcf-4399-a386-8d91278bf287'] -%}
    {%- capture default_replo_url_2de53372-8fcf-4399-a386-8d91278bf287 -%}https://jambys.com/collections/all-products{%- endcapture -%}
    {%- assign replo_url_2de53372-8fcf-4399-a386-8d91278bf287 = replo_url_2de53372-8fcf-4399-a386-8d91278bf287 | default: default_replo_url_2de53372-8fcf-4399-a386-8d91278bf287 -%}
    "replo_url_2de53372-8fcf-4399-a386-8d91278bf287": {{ replo_url_2de53372-8fcf-4399-a386-8d91278bf287 | json }}, {%- assign replo_text_dd95ec42-4737-4356-a1a9-e78f6b7b3e8f = section.settings['replo_text_dd95ec42-4737-4356-a1a9-e78f6b7b3e8f'] -%}
    {%- capture default_replo_text_dd95ec42-4737-4356-a1a9-e78f6b7b3e8f -%}<p>SHOP NOW</p>{%- endcapture -%}
    {%- assign replo_text_dd95ec42-4737-4356-a1a9-e78f6b7b3e8f = replo_text_dd95ec42-4737-4356-a1a9-e78f6b7b3e8f | default: default_replo_text_dd95ec42-4737-4356-a1a9-e78f6b7b3e8f -%}
    "replo_text_dd95ec42-4737-4356-a1a9-e78f6b7b3e8f": {{ replo_text_dd95ec42-4737-4356-a1a9-e78f6b7b3e8f | json }}, {%- assign replo_style_image_119bdd8b-de16-471f-bc04-d64cdaf3b5fe = section.settings['replo_style_image_119bdd8b-de16-471f-bc04-d64cdaf3b5fe'] | image_url -%}
    {%- capture default_replo_style_image_119bdd8b-de16-471f-bc04-d64cdaf3b5fe -%}https://cdn.shopify.com/s/files/1/0090/4128/1109/files/GLACIERMARISA_0168TIFFS.jpg?v=1700859773{%- endcapture -%}
    {%- assign replo_style_image_119bdd8b-de16-471f-bc04-d64cdaf3b5fe = replo_style_image_119bdd8b-de16-471f-bc04-d64cdaf3b5fe | default: default_replo_style_image_119bdd8b-de16-471f-bc04-d64cdaf3b5fe -%}
    "replo_style_image_119bdd8b-de16-471f-bc04-d64cdaf3b5fe": {{ replo_style_image_119bdd8b-de16-471f-bc04-d64cdaf3b5fe | json }}, {%- assign replo_text_7e6da7ba-ece4-46c9-b05a-540a2ba6a2f7 = section.settings['replo_text_7e6da7ba-ece4-46c9-b05a-540a2ba6a2f7'] -%}
    {%- capture default_replo_text_7e6da7ba-ece4-46c9-b05a-540a2ba6a2f7 -%}<p>Premium</p><p>Metal Ring</p>{%- endcapture -%}
    {%- assign replo_text_7e6da7ba-ece4-46c9-b05a-540a2ba6a2f7 = replo_text_7e6da7ba-ece4-46c9-b05a-540a2ba6a2f7 | default: default_replo_text_7e6da7ba-ece4-46c9-b05a-540a2ba6a2f7 -%}
    "replo_text_7e6da7ba-ece4-46c9-b05a-540a2ba6a2f7": {{ replo_text_7e6da7ba-ece4-46c9-b05a-540a2ba6a2f7 | json }}, {%- assign replo_style_image_94eb6d47-dea3-4289-9796-866ea0fd6c01 = section.settings['replo_style_image_94eb6d47-dea3-4289-9796-866ea0fd6c01'] | image_url -%}
    {%- capture default_replo_style_image_94eb6d47-dea3-4289-9796-866ea0fd6c01 -%}https://cdn.shopify.com/s/files/1/0090/4128/1109/files/GLACIERMARISA_0168TIFFS.jpg?v=1700859773{%- endcapture -%}
    {%- assign replo_style_image_94eb6d47-dea3-4289-9796-866ea0fd6c01 = replo_style_image_94eb6d47-dea3-4289-9796-866ea0fd6c01 | default: default_replo_style_image_94eb6d47-dea3-4289-9796-866ea0fd6c01 -%}
    "replo_style_image_94eb6d47-dea3-4289-9796-866ea0fd6c01": {{ replo_style_image_94eb6d47-dea3-4289-9796-866ea0fd6c01 | json }}, {%- assign replo_text_ce63305a-e0fc-41f9-9bf4-448724b5034d = section.settings['replo_text_ce63305a-e0fc-41f9-9bf4-448724b5034d'] -%}
    {%- capture default_replo_text_ce63305a-e0fc-41f9-9bf4-448724b5034d -%}<p>99 Day</p><p>Risk-free trial</p>{%- endcapture -%}
    {%- assign replo_text_ce63305a-e0fc-41f9-9bf4-448724b5034d = replo_text_ce63305a-e0fc-41f9-9bf4-448724b5034d | default: default_replo_text_ce63305a-e0fc-41f9-9bf4-448724b5034d -%}
    "replo_text_ce63305a-e0fc-41f9-9bf4-448724b5034d": {{ replo_text_ce63305a-e0fc-41f9-9bf4-448724b5034d | json }}, {%- assign replo_style_image_7c7413c5-66c4-4b5b-908e-8ebc03036ac4 = section.settings['replo_style_image_7c7413c5-66c4-4b5b-908e-8ebc03036ac4'] | image_url -%}
    {%- capture default_replo_style_image_7c7413c5-66c4-4b5b-908e-8ebc03036ac4 -%}https://cdn.shopify.com/s/files/1/0090/4128/1109/files/GLACIERMARISA_0168TIFFS.jpg?v=1700859773{%- endcapture -%}
    {%- assign replo_style_image_7c7413c5-66c4-4b5b-908e-8ebc03036ac4 = replo_style_image_7c7413c5-66c4-4b5b-908e-8ebc03036ac4 | default: default_replo_style_image_7c7413c5-66c4-4b5b-908e-8ebc03036ac4 -%}
    "replo_style_image_7c7413c5-66c4-4b5b-908e-8ebc03036ac4": {{ replo_style_image_7c7413c5-66c4-4b5b-908e-8ebc03036ac4 | json }}, {%- assign replo_text_7dbcf0e1-0516-453a-8a92-a96c13819c87 = section.settings['replo_text_7dbcf0e1-0516-453a-8a92-a96c13819c87'] -%}
    {%- capture default_replo_text_7dbcf0e1-0516-453a-8a92-a96c13819c87 -%}<p>Lost &amp; Forever</p><p>Fit Protection</p>{%- endcapture -%}
    {%- assign replo_text_7dbcf0e1-0516-453a-8a92-a96c13819c87 = replo_text_7dbcf0e1-0516-453a-8a92-a96c13819c87 | default: default_replo_text_7dbcf0e1-0516-453a-8a92-a96c13819c87 -%}
    "replo_text_7dbcf0e1-0516-453a-8a92-a96c13819c87": {{ replo_text_7dbcf0e1-0516-453a-8a92-a96c13819c87 | json }}, {%- assign replo_url_8efdc4e7-47fa-48e8-833e-68c396cf778c = section.settings['replo_url_8efdc4e7-47fa-48e8-833e-68c396cf778c'] -%}
    {%- capture default_replo_url_8efdc4e7-47fa-48e8-833e-68c396cf778c -%}https://www.jambys.com/collections/all-products{%- endcapture -%}
    {%- assign replo_url_8efdc4e7-47fa-48e8-833e-68c396cf778c = replo_url_8efdc4e7-47fa-48e8-833e-68c396cf778c | default: default_replo_url_8efdc4e7-47fa-48e8-833e-68c396cf778c -%}
    "replo_url_8efdc4e7-47fa-48e8-833e-68c396cf778c": {{ replo_url_8efdc4e7-47fa-48e8-833e-68c396cf778c | json }}, {%- assign replo_style_image_e2127484-64d6-48e4-9f47-fb8a323a362d = section.settings['replo_style_image_e2127484-64d6-48e4-9f47-fb8a323a362d'] | image_url -%}
    {%- capture default_replo_style_image_e2127484-64d6-48e4-9f47-fb8a323a362d -%}https://cdn.shopify.com/s/files/1/0090/4128/1109/files/desktop-brittany-charles.jpg{%- endcapture -%}
    {%- assign replo_style_image_e2127484-64d6-48e4-9f47-fb8a323a362d = replo_style_image_e2127484-64d6-48e4-9f47-fb8a323a362d | default: default_replo_style_image_e2127484-64d6-48e4-9f47-fb8a323a362d -%}
    "replo_style_image_e2127484-64d6-48e4-9f47-fb8a323a362d": {{ replo_style_image_e2127484-64d6-48e4-9f47-fb8a323a362d | json }}, {%- assign replo_style_image_e9896dd3-99ff-4566-9001-9292b7f05a23 = section.settings['replo_style_image_e9896dd3-99ff-4566-9001-9292b7f05a23'] | image_url -%}
    {%- capture default_replo_style_image_e9896dd3-99ff-4566-9001-9292b7f05a23 -%}https://cdn.shopify.com/s/files/1/0090/4128/1109/files/jamad-sofia-jambys.webp?v=1712235640{%- endcapture -%}
    {%- assign replo_style_image_e9896dd3-99ff-4566-9001-9292b7f05a23 = replo_style_image_e9896dd3-99ff-4566-9001-9292b7f05a23 | default: default_replo_style_image_e9896dd3-99ff-4566-9001-9292b7f05a23 -%}
    "replo_style_image_e9896dd3-99ff-4566-9001-9292b7f05a23": {{ replo_style_image_e9896dd3-99ff-4566-9001-9292b7f05a23 | json }}, {%- assign replo_stylesm_image_e9896dd3-99ff-4566-9001-9292b7f05a23 = section.settings['replo_stylesm_image_e9896dd3-99ff-4566-9001-9292b7f05a23'] | image_url -%}
    {%- capture default_replo_stylesm_image_e9896dd3-99ff-4566-9001-9292b7f05a23 -%}https://cdn.shopify.com/s/files/1/0090/4128/1109/files/mobile-brittany-charles.jpg{%- endcapture -%}
    {%- assign replo_stylesm_image_e9896dd3-99ff-4566-9001-9292b7f05a23 = replo_stylesm_image_e9896dd3-99ff-4566-9001-9292b7f05a23 | default: default_replo_stylesm_image_e9896dd3-99ff-4566-9001-9292b7f05a23 -%}
    "replo_stylesm_image_e9896dd3-99ff-4566-9001-9292b7f05a23": {{ replo_stylesm_image_e9896dd3-99ff-4566-9001-9292b7f05a23 | json }}
    }</script>
  {%- comment -%}replo-liquid-chunk-end{%- endcomment -%}