
    <script id="replo-deps-section-settings" data-section-id="{{ section.id }}">{
      {%- assign replo_url_f01206c2-2bf7-4c98-90dc-49156877a4e7 = section.settings['replo_url_f01206c2-2bf7-4c98-90dc-49156877a4e7'] -%}
    {%- capture default_replo_url_f01206c2-2bf7-4c98-90dc-49156877a4e7 -%}https://www.jambys.com/collections/all-products{%- endcapture -%}
    {%- assign replo_url_f01206c2-2bf7-4c98-90dc-49156877a4e7 = replo_url_f01206c2-2bf7-4c98-90dc-49156877a4e7 | default: default_replo_url_f01206c2-2bf7-4c98-90dc-49156877a4e7 -%}
    "replo_url_f01206c2-2bf7-4c98-90dc-49156877a4e7": {{ replo_url_f01206c2-2bf7-4c98-90dc-49156877a4e7 | json }}, {%- assign replo_style_image_cdab2c98-c0ae-43c3-9561-110d3a223e1d = section.settings['replo_style_image_cdab2c98-c0ae-43c3-9561-110d3a223e1d'] | image_url -%}
    {%- capture default_replo_style_image_cdab2c98-c0ae-43c3-9561-110d3a223e1d -%}https://cdn.shopify.com/s/files/1/0090/4128/1109/files/jamad-sofia-jambys.webp?v=1712235640{%- endcapture -%}
    {%- assign replo_style_image_cdab2c98-c0ae-43c3-9561-110d3a223e1d = replo_style_image_cdab2c98-c0ae-43c3-9561-110d3a223e1d | default: default_replo_style_image_cdab2c98-c0ae-43c3-9561-110d3a223e1d -%}
    "replo_style_image_cdab2c98-c0ae-43c3-9561-110d3a223e1d": {{ replo_style_image_cdab2c98-c0ae-43c3-9561-110d3a223e1d | json }}, {%- assign replo_style_image_e22607ab-c7b1-4b0f-9299-c332762a9b66 = section.settings['replo_style_image_e22607ab-c7b1-4b0f-9299-c332762a9b66'] | image_url -%}
    {%- capture default_replo_style_image_e22607ab-c7b1-4b0f-9299-c332762a9b66 -%}{%- endcapture -%}
    {%- assign replo_style_image_e22607ab-c7b1-4b0f-9299-c332762a9b66 = replo_style_image_e22607ab-c7b1-4b0f-9299-c332762a9b66 | default: default_replo_style_image_e22607ab-c7b1-4b0f-9299-c332762a9b66 -%}
    "replo_style_image_e22607ab-c7b1-4b0f-9299-c332762a9b66": {{ replo_style_image_e22607ab-c7b1-4b0f-9299-c332762a9b66 | json }}, {%- assign replo_text_313436d0-e400-4387-8436-c87f27a9a240 = section.settings['replo_text_313436d0-e400-4387-8436-c87f27a9a240'] -%}
    {%- capture default_replo_text_313436d0-e400-4387-8436-c87f27a9a240 -%}<p>The Memorial Day Sale Is On<br></p>{%- endcapture -%}
    {%- assign replo_text_313436d0-e400-4387-8436-c87f27a9a240 = replo_text_313436d0-e400-4387-8436-c87f27a9a240 | default: default_replo_text_313436d0-e400-4387-8436-c87f27a9a240 -%}
    "replo_text_313436d0-e400-4387-8436-c87f27a9a240": {{ replo_text_313436d0-e400-4387-8436-c87f27a9a240 | json }}, {%- assign replo_text_192b63e1-b6a7-4991-9116-4b0bc118216e = section.settings['replo_text_192b63e1-b6a7-4991-9116-4b0bc118216e'] -%}
    {%- capture default_replo_text_192b63e1-b6a7-4991-9116-4b0bc118216e -%}<p>Unisex performance <strong>inactivewear</strong> crafted from soft, breathable, and sustainable fabrics.<br></p>{%- endcapture -%}
    {%- assign replo_text_192b63e1-b6a7-4991-9116-4b0bc118216e = replo_text_192b63e1-b6a7-4991-9116-4b0bc118216e | default: default_replo_text_192b63e1-b6a7-4991-9116-4b0bc118216e -%}
    "replo_text_192b63e1-b6a7-4991-9116-4b0bc118216e": {{ replo_text_192b63e1-b6a7-4991-9116-4b0bc118216e | json }}, {%- assign replo_text_ba6e3edd-5010-4b99-9ead-da7ed4826eed = section.settings['replo_text_ba6e3edd-5010-4b99-9ead-da7ed4826eed'] -%}
    {%- capture default_replo_text_ba6e3edd-5010-4b99-9ead-da7ed4826eed -%}<p>9,000+ 5 Star Reviews</p>{%- endcapture -%}
    {%- assign replo_text_ba6e3edd-5010-4b99-9ead-da7ed4826eed = replo_text_ba6e3edd-5010-4b99-9ead-da7ed4826eed | default: default_replo_text_ba6e3edd-5010-4b99-9ead-da7ed4826eed -%}
    "replo_text_ba6e3edd-5010-4b99-9ead-da7ed4826eed": {{ replo_text_ba6e3edd-5010-4b99-9ead-da7ed4826eed | json }}, {%- assign replo_style_image_953ba118-9c24-4d02-a585-d7ca8de18082 = section.settings['replo_style_image_953ba118-9c24-4d02-a585-d7ca8de18082'] | image_url -%}
    {%- capture default_replo_style_image_953ba118-9c24-4d02-a585-d7ca8de18082 -%}https://cdn.shopify.com/s/files/1/0090/4128/1109/files/Smiley.png?v=1713534217{%- endcapture -%}
    {%- assign replo_style_image_953ba118-9c24-4d02-a585-d7ca8de18082 = replo_style_image_953ba118-9c24-4d02-a585-d7ca8de18082 | default: default_replo_style_image_953ba118-9c24-4d02-a585-d7ca8de18082 -%}
    "replo_style_image_953ba118-9c24-4d02-a585-d7ca8de18082": {{ replo_style_image_953ba118-9c24-4d02-a585-d7ca8de18082 | json }}, {%- assign replo_text_f34f7981-1f34-4260-b974-ca2ccdffb17d = section.settings['replo_text_f34f7981-1f34-4260-b974-ca2ccdffb17d'] -%}
    {%- capture default_replo_text_f34f7981-1f34-4260-b974-ca2ccdffb17d -%}<p><b>Over 200,000<br>Sold</b></p>{%- endcapture -%}
    {%- assign replo_text_f34f7981-1f34-4260-b974-ca2ccdffb17d = replo_text_f34f7981-1f34-4260-b974-ca2ccdffb17d | default: default_replo_text_f34f7981-1f34-4260-b974-ca2ccdffb17d -%}
    "replo_text_f34f7981-1f34-4260-b974-ca2ccdffb17d": {{ replo_text_f34f7981-1f34-4260-b974-ca2ccdffb17d | json }}, {%- assign replo_style_image_f5954bad-51ed-401b-ba52-08c6d5efbbb2 = section.settings['replo_style_image_f5954bad-51ed-401b-ba52-08c6d5efbbb2'] | image_url -%}
    {%- capture default_replo_style_image_f5954bad-51ed-401b-ba52-08c6d5efbbb2 -%}https://cdn.shopify.com/s/files/1/0090/4128/1109/files/Chill_O_Meter.png?v=1713534216{%- endcapture -%}
    {%- assign replo_style_image_f5954bad-51ed-401b-ba52-08c6d5efbbb2 = replo_style_image_f5954bad-51ed-401b-ba52-08c6d5efbbb2 | default: default_replo_style_image_f5954bad-51ed-401b-ba52-08c6d5efbbb2 -%}
    "replo_style_image_f5954bad-51ed-401b-ba52-08c6d5efbbb2": {{ replo_style_image_f5954bad-51ed-401b-ba52-08c6d5efbbb2 | json }}, {%- assign replo_text_eaeb3efd-5a1d-4b17-92a4-57f2c7da5f74 = section.settings['replo_text_eaeb3efd-5a1d-4b17-92a4-57f2c7da5f74'] -%}
    {%- capture default_replo_text_eaeb3efd-5a1d-4b17-92a4-57f2c7da5f74 -%}<p><b>Free Shipping Orders $75+</b></p>{%- endcapture -%}
    {%- assign replo_text_eaeb3efd-5a1d-4b17-92a4-57f2c7da5f74 = replo_text_eaeb3efd-5a1d-4b17-92a4-57f2c7da5f74 | default: default_replo_text_eaeb3efd-5a1d-4b17-92a4-57f2c7da5f74 -%}
    "replo_text_eaeb3efd-5a1d-4b17-92a4-57f2c7da5f74": {{ replo_text_eaeb3efd-5a1d-4b17-92a4-57f2c7da5f74 | json }}, {%- assign replo_style_image_2094e374-9d4c-4e15-b564-2af025596b76 = section.settings['replo_style_image_2094e374-9d4c-4e15-b564-2af025596b76'] | image_url -%}
    {%- capture default_replo_style_image_2094e374-9d4c-4e15-b564-2af025596b76 -%}https://cdn.shopify.com/s/files/1/0090/4128/1109/files/Smiley.png?v=1713534217{%- endcapture -%}
    {%- assign replo_style_image_2094e374-9d4c-4e15-b564-2af025596b76 = replo_style_image_2094e374-9d4c-4e15-b564-2af025596b76 | default: default_replo_style_image_2094e374-9d4c-4e15-b564-2af025596b76 -%}
    "replo_style_image_2094e374-9d4c-4e15-b564-2af025596b76": {{ replo_style_image_2094e374-9d4c-4e15-b564-2af025596b76 | json }}, {%- assign replo_text_ed25d4f3-010a-49a4-a15c-59bbb712bcc8 = section.settings['replo_text_ed25d4f3-010a-49a4-a15c-59bbb712bcc8'] -%}
    {%- capture default_replo_text_ed25d4f3-010a-49a4-a15c-59bbb712bcc8 -%}<p><b>Over&nbsp;</b></p>{%- endcapture -%}
    {%- assign replo_text_ed25d4f3-010a-49a4-a15c-59bbb712bcc8 = replo_text_ed25d4f3-010a-49a4-a15c-59bbb712bcc8 | default: default_replo_text_ed25d4f3-010a-49a4-a15c-59bbb712bcc8 -%}
    "replo_text_ed25d4f3-010a-49a4-a15c-59bbb712bcc8": {{ replo_text_ed25d4f3-010a-49a4-a15c-59bbb712bcc8 | json }}, {%- assign replo_url_f30abaee-074f-4421-b206-759ee36d471e = section.settings['replo_url_f30abaee-074f-4421-b206-759ee36d471e'] -%}
    {%- capture default_replo_url_f30abaee-074f-4421-b206-759ee36d471e -%}https://jambys.com/collections/all-products{%- endcapture -%}
    {%- assign replo_url_f30abaee-074f-4421-b206-759ee36d471e = replo_url_f30abaee-074f-4421-b206-759ee36d471e | default: default_replo_url_f30abaee-074f-4421-b206-759ee36d471e -%}
    "replo_url_f30abaee-074f-4421-b206-759ee36d471e": {{ replo_url_f30abaee-074f-4421-b206-759ee36d471e | json }}, {%- assign replo_text_5bd4425a-d6f8-4c81-9775-61da1a10e92f = section.settings['replo_text_5bd4425a-d6f8-4c81-9775-61da1a10e92f'] -%}
    {%- capture default_replo_text_5bd4425a-d6f8-4c81-9775-61da1a10e92f -%}<p>SHOP ALL</p>{%- endcapture -%}
    {%- assign replo_text_5bd4425a-d6f8-4c81-9775-61da1a10e92f = replo_text_5bd4425a-d6f8-4c81-9775-61da1a10e92f | default: default_replo_text_5bd4425a-d6f8-4c81-9775-61da1a10e92f -%}
    "replo_text_5bd4425a-d6f8-4c81-9775-61da1a10e92f": {{ replo_text_5bd4425a-d6f8-4c81-9775-61da1a10e92f | json }}, {%- assign replo_style_image_af2934e5-519b-479e-9d6f-cbf58f7f8346 = section.settings['replo_style_image_af2934e5-519b-479e-9d6f-cbf58f7f8346'] | image_url -%}
    {%- capture default_replo_style_image_af2934e5-519b-479e-9d6f-cbf58f7f8346 -%}https://cdn.shopify.com/s/files/1/0090/4128/1109/files/GLACIERMARISA_0168TIFFS.jpg?v=1700859773{%- endcapture -%}
    {%- assign replo_style_image_af2934e5-519b-479e-9d6f-cbf58f7f8346 = replo_style_image_af2934e5-519b-479e-9d6f-cbf58f7f8346 | default: default_replo_style_image_af2934e5-519b-479e-9d6f-cbf58f7f8346 -%}
    "replo_style_image_af2934e5-519b-479e-9d6f-cbf58f7f8346": {{ replo_style_image_af2934e5-519b-479e-9d6f-cbf58f7f8346 | json }}, {%- assign replo_text_6471b8f6-4a23-4dd9-8837-b7162c21eb71 = section.settings['replo_text_6471b8f6-4a23-4dd9-8837-b7162c21eb71'] -%}
    {%- capture default_replo_text_6471b8f6-4a23-4dd9-8837-b7162c21eb71 -%}<p>Premium</p><p>Metal Ring</p>{%- endcapture -%}
    {%- assign replo_text_6471b8f6-4a23-4dd9-8837-b7162c21eb71 = replo_text_6471b8f6-4a23-4dd9-8837-b7162c21eb71 | default: default_replo_text_6471b8f6-4a23-4dd9-8837-b7162c21eb71 -%}
    "replo_text_6471b8f6-4a23-4dd9-8837-b7162c21eb71": {{ replo_text_6471b8f6-4a23-4dd9-8837-b7162c21eb71 | json }}, {%- assign replo_style_image_0e7d4d43-4f2d-42c5-ae87-3cd61fb3af07 = section.settings['replo_style_image_0e7d4d43-4f2d-42c5-ae87-3cd61fb3af07'] | image_url -%}
    {%- capture default_replo_style_image_0e7d4d43-4f2d-42c5-ae87-3cd61fb3af07 -%}https://cdn.shopify.com/s/files/1/0090/4128/1109/files/GLACIERMARISA_0168TIFFS.jpg?v=1700859773{%- endcapture -%}
    {%- assign replo_style_image_0e7d4d43-4f2d-42c5-ae87-3cd61fb3af07 = replo_style_image_0e7d4d43-4f2d-42c5-ae87-3cd61fb3af07 | default: default_replo_style_image_0e7d4d43-4f2d-42c5-ae87-3cd61fb3af07 -%}
    "replo_style_image_0e7d4d43-4f2d-42c5-ae87-3cd61fb3af07": {{ replo_style_image_0e7d4d43-4f2d-42c5-ae87-3cd61fb3af07 | json }}, {%- assign replo_text_1665e749-050f-4230-a7c4-c918511f6610 = section.settings['replo_text_1665e749-050f-4230-a7c4-c918511f6610'] -%}
    {%- capture default_replo_text_1665e749-050f-4230-a7c4-c918511f6610 -%}<p>99 Day</p><p>Risk-free trial</p>{%- endcapture -%}
    {%- assign replo_text_1665e749-050f-4230-a7c4-c918511f6610 = replo_text_1665e749-050f-4230-a7c4-c918511f6610 | default: default_replo_text_1665e749-050f-4230-a7c4-c918511f6610 -%}
    "replo_text_1665e749-050f-4230-a7c4-c918511f6610": {{ replo_text_1665e749-050f-4230-a7c4-c918511f6610 | json }}, {%- assign replo_style_image_ad24d0d3-444b-4316-adf5-a8614b91d2b0 = section.settings['replo_style_image_ad24d0d3-444b-4316-adf5-a8614b91d2b0'] | image_url -%}
    {%- capture default_replo_style_image_ad24d0d3-444b-4316-adf5-a8614b91d2b0 -%}https://cdn.shopify.com/s/files/1/0090/4128/1109/files/GLACIERMARISA_0168TIFFS.jpg?v=1700859773{%- endcapture -%}
    {%- assign replo_style_image_ad24d0d3-444b-4316-adf5-a8614b91d2b0 = replo_style_image_ad24d0d3-444b-4316-adf5-a8614b91d2b0 | default: default_replo_style_image_ad24d0d3-444b-4316-adf5-a8614b91d2b0 -%}
    "replo_style_image_ad24d0d3-444b-4316-adf5-a8614b91d2b0": {{ replo_style_image_ad24d0d3-444b-4316-adf5-a8614b91d2b0 | json }}, {%- assign replo_text_b7235694-c5c9-41aa-a3e0-4438d4a51282 = section.settings['replo_text_b7235694-c5c9-41aa-a3e0-4438d4a51282'] -%}
    {%- capture default_replo_text_b7235694-c5c9-41aa-a3e0-4438d4a51282 -%}<p>Lost &amp; Forever</p><p>Fit Protection</p>{%- endcapture -%}
    {%- assign replo_text_b7235694-c5c9-41aa-a3e0-4438d4a51282 = replo_text_b7235694-c5c9-41aa-a3e0-4438d4a51282 | default: default_replo_text_b7235694-c5c9-41aa-a3e0-4438d4a51282 -%}
    "replo_text_b7235694-c5c9-41aa-a3e0-4438d4a51282": {{ replo_text_b7235694-c5c9-41aa-a3e0-4438d4a51282 | json }}, {%- assign replo_url_bf833842-0b5f-4180-b4de-84fc47953b38 = section.settings['replo_url_bf833842-0b5f-4180-b4de-84fc47953b38'] -%}
    {%- capture default_replo_url_bf833842-0b5f-4180-b4de-84fc47953b38 -%}https://www.jambys.com/collections/all-products{%- endcapture -%}
    {%- assign replo_url_bf833842-0b5f-4180-b4de-84fc47953b38 = replo_url_bf833842-0b5f-4180-b4de-84fc47953b38 | default: default_replo_url_bf833842-0b5f-4180-b4de-84fc47953b38 -%}
    "replo_url_bf833842-0b5f-4180-b4de-84fc47953b38": {{ replo_url_bf833842-0b5f-4180-b4de-84fc47953b38 | json }}, {%- assign replo_style_image_8d3a3fe9-3939-4d6b-9c7b-8c2f61149065 = section.settings['replo_style_image_8d3a3fe9-3939-4d6b-9c7b-8c2f61149065'] | image_url -%}
    {%- capture default_replo_style_image_8d3a3fe9-3939-4d6b-9c7b-8c2f61149065 -%}https://cdn.shopify.com/s/files/1/0090/4128/1109/files/jamad-sofia-jambys.webp?v=1712235640{%- endcapture -%}
    {%- assign replo_style_image_8d3a3fe9-3939-4d6b-9c7b-8c2f61149065 = replo_style_image_8d3a3fe9-3939-4d6b-9c7b-8c2f61149065 | default: default_replo_style_image_8d3a3fe9-3939-4d6b-9c7b-8c2f61149065 -%}
    "replo_style_image_8d3a3fe9-3939-4d6b-9c7b-8c2f61149065": {{ replo_style_image_8d3a3fe9-3939-4d6b-9c7b-8c2f61149065 | json }}
    }</script>
  