{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}
    <script id="replo-deps-section-settings" data-section-id="{{ section.id }}">{
      {%- assign replo_url_18c9edfc-074c-4868-adde-d3ec0e3a8e75 = section.settings['replo_url_18c9edfc-074c-4868-adde-d3ec0e3a8e75'] -%}
    {%- capture default_replo_url_18c9edfc-074c-4868-adde-d3ec0e3a8e75 -%}https://www.jambys.com/collections/all-products{%- endcapture -%}
    {%- assign replo_url_18c9edfc-074c-4868-adde-d3ec0e3a8e75 = replo_url_18c9edfc-074c-4868-adde-d3ec0e3a8e75 | default: default_replo_url_18c9edfc-074c-4868-adde-d3ec0e3a8e75 -%}
    "replo_url_18c9edfc-074c-4868-adde-d3ec0e3a8e75": {{ replo_url_18c9edfc-074c-4868-adde-d3ec0e3a8e75 | json }}, {%- assign replo_style_image_18c9edfc-074c-4868-adde-d3ec0e3a8e75 = section.settings['replo_style_image_18c9edfc-074c-4868-adde-d3ec0e3a8e75'] | image_url -%}
    {%- capture default_replo_style_image_18c9edfc-074c-4868-adde-d3ec0e3a8e75 -%}https://cdn.shopify.com/s/files/1/0090/4128/1109/files/doubles-home-page-jambys-loungewear.jpg?v=1751250671{%- endcapture -%}
    {%- assign replo_style_image_18c9edfc-074c-4868-adde-d3ec0e3a8e75 = replo_style_image_18c9edfc-074c-4868-adde-d3ec0e3a8e75 | default: default_replo_style_image_18c9edfc-074c-4868-adde-d3ec0e3a8e75 -%}
    "replo_style_image_18c9edfc-074c-4868-adde-d3ec0e3a8e75": {{ replo_style_image_18c9edfc-074c-4868-adde-d3ec0e3a8e75 | json }}, {%- assign replo_stylesm_image_18c9edfc-074c-4868-adde-d3ec0e3a8e75 = section.settings['replo_stylesm_image_18c9edfc-074c-4868-adde-d3ec0e3a8e75'] | image_url -%}
    {%- capture default_replo_stylesm_image_18c9edfc-074c-4868-adde-d3ec0e3a8e75 -%}https://cdn.shopify.com/s/files/1/0090/4128/1109/files/doubles-home-page-jambys-loungewear.jpg?v=1751250671{%- endcapture -%}
    {%- assign replo_stylesm_image_18c9edfc-074c-4868-adde-d3ec0e3a8e75 = replo_stylesm_image_18c9edfc-074c-4868-adde-d3ec0e3a8e75 | default: default_replo_stylesm_image_18c9edfc-074c-4868-adde-d3ec0e3a8e75 -%}
    "replo_stylesm_image_18c9edfc-074c-4868-adde-d3ec0e3a8e75": {{ replo_stylesm_image_18c9edfc-074c-4868-adde-d3ec0e3a8e75 | json }}, {%- assign replo_text_630cc102-6cb0-44dd-a6fa-a3953f0b32ed = section.settings['replo_text_630cc102-6cb0-44dd-a6fa-a3953f0b32ed'] -%}
    {%- capture default_replo_text_630cc102-6cb0-44dd-a6fa-a3953f0b32ed -%}<p>Say Goodbye</p><p>To Sweaty Sleeping</p>{%- endcapture -%}
    {%- assign replo_text_630cc102-6cb0-44dd-a6fa-a3953f0b32ed = replo_text_630cc102-6cb0-44dd-a6fa-a3953f0b32ed | default: default_replo_text_630cc102-6cb0-44dd-a6fa-a3953f0b32ed -%}
    "replo_text_630cc102-6cb0-44dd-a6fa-a3953f0b32ed": {{ replo_text_630cc102-6cb0-44dd-a6fa-a3953f0b32ed | json }}, {%- assign replo_url_13d16138-3f71-4e23-871b-10d6b3f73901 = section.settings['replo_url_13d16138-3f71-4e23-871b-10d6b3f73901'] -%}
    {%- capture default_replo_url_13d16138-3f71-4e23-871b-10d6b3f73901 -%}https://www.jambys.com/collections/all-products{%- endcapture -%}
    {%- assign replo_url_13d16138-3f71-4e23-871b-10d6b3f73901 = replo_url_13d16138-3f71-4e23-871b-10d6b3f73901 | default: default_replo_url_13d16138-3f71-4e23-871b-10d6b3f73901 -%}
    "replo_url_13d16138-3f71-4e23-871b-10d6b3f73901": {{ replo_url_13d16138-3f71-4e23-871b-10d6b3f73901 | json }}, {%- assign replo_url_9b89c919-e9d5-449e-b586-7607a8137382 = section.settings['replo_url_9b89c919-e9d5-449e-b586-7607a8137382'] -%}
    {%- capture default_replo_url_9b89c919-e9d5-449e-b586-7607a8137382 -%}https://jambys.com/collections/all-products{%- endcapture -%}
    {%- assign replo_url_9b89c919-e9d5-449e-b586-7607a8137382 = replo_url_9b89c919-e9d5-449e-b586-7607a8137382 | default: default_replo_url_9b89c919-e9d5-449e-b586-7607a8137382 -%}
    "replo_url_9b89c919-e9d5-449e-b586-7607a8137382": {{ replo_url_9b89c919-e9d5-449e-b586-7607a8137382 | json }}, {%- assign replo_text_4007bca7-f473-4959-b8ca-d6006cb3d535 = section.settings['replo_text_4007bca7-f473-4959-b8ca-d6006cb3d535'] -%}
    {%- capture default_replo_text_4007bca7-f473-4959-b8ca-d6006cb3d535 -%}<p>SHOP ALL</p>{%- endcapture -%}
    {%- assign replo_text_4007bca7-f473-4959-b8ca-d6006cb3d535 = replo_text_4007bca7-f473-4959-b8ca-d6006cb3d535 | default: default_replo_text_4007bca7-f473-4959-b8ca-d6006cb3d535 -%}
    "replo_text_4007bca7-f473-4959-b8ca-d6006cb3d535": {{ replo_text_4007bca7-f473-4959-b8ca-d6006cb3d535 | json }}, {%- assign replo_text_9f545503-02cd-47f2-b8a5-b8495ee0093d = section.settings['replo_text_9f545503-02cd-47f2-b8a5-b8495ee0093d'] -%}
    {%- capture default_replo_text_9f545503-02cd-47f2-b8a5-b8495ee0093d -%}<p>SHOP SALE</p>{%- endcapture -%}
    {%- assign replo_text_9f545503-02cd-47f2-b8a5-b8495ee0093d = replo_text_9f545503-02cd-47f2-b8a5-b8495ee0093d | default: default_replo_text_9f545503-02cd-47f2-b8a5-b8495ee0093d -%}
    "replo_text_9f545503-02cd-47f2-b8a5-b8495ee0093d": {{ replo_text_9f545503-02cd-47f2-b8a5-b8495ee0093d | json }}
    }</script>
  {%- comment -%}replo-liquid-chunk-end{%- endcomment -%}