{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}
    <script id="replo-deps-section-settings" data-section-id="{{ section.id }}">{
      {%- assign replo_url_76e5502e-ca78-4103-8f1f-d6353d54eaf4 = section.settings['replo_url_76e5502e-ca78-4103-8f1f-d6353d54eaf4'] -%}
    {%- capture default_replo_url_76e5502e-ca78-4103-8f1f-d6353d54eaf4 -%}https://www.jambys.com/collections/all-products{%- endcapture -%}
    {%- assign replo_url_76e5502e-ca78-4103-8f1f-d6353d54eaf4 = replo_url_76e5502e-ca78-4103-8f1f-d6353d54eaf4 | default: default_replo_url_76e5502e-ca78-4103-8f1f-d6353d54eaf4 -%}
    "replo_url_76e5502e-ca78-4103-8f1f-d6353d54eaf4": {{ replo_url_76e5502e-ca78-4103-8f1f-d6353d54eaf4 | json }}, {%- assign replo_style_image_039eaebb-910a-4b41-88d8-6a26139fde94 = section.settings['replo_style_image_039eaebb-910a-4b41-88d8-6a26139fde94'] | image_url -%}
    {%- capture default_replo_style_image_039eaebb-910a-4b41-88d8-6a26139fde94 -%}https://cdn.shopify.com/s/files/1/0090/4128/1109/files/jamad-sofia-jambys.webp?v=1712235640{%- endcapture -%}
    {%- assign replo_style_image_039eaebb-910a-4b41-88d8-6a26139fde94 = replo_style_image_039eaebb-910a-4b41-88d8-6a26139fde94 | default: default_replo_style_image_039eaebb-910a-4b41-88d8-6a26139fde94 -%}
    "replo_style_image_039eaebb-910a-4b41-88d8-6a26139fde94": {{ replo_style_image_039eaebb-910a-4b41-88d8-6a26139fde94 | json }}, {%- assign replo_style_image_1353d7b1-8086-4a97-b7b4-861a722961be = section.settings['replo_style_image_1353d7b1-8086-4a97-b7b4-861a722961be'] | image_url -%}
    {%- capture default_replo_style_image_1353d7b1-8086-4a97-b7b4-861a722961be -%}{%- endcapture -%}
    {%- assign replo_style_image_1353d7b1-8086-4a97-b7b4-861a722961be = replo_style_image_1353d7b1-8086-4a97-b7b4-861a722961be | default: default_replo_style_image_1353d7b1-8086-4a97-b7b4-861a722961be -%}
    "replo_style_image_1353d7b1-8086-4a97-b7b4-861a722961be": {{ replo_style_image_1353d7b1-8086-4a97-b7b4-861a722961be | json }}, {%- assign replo_text_b91cdb23-7b60-4054-b068-d02d7e0b1417 = section.settings['replo_text_b91cdb23-7b60-4054-b068-d02d7e0b1417'] -%}
    {%- capture default_replo_text_b91cdb23-7b60-4054-b068-d02d7e0b1417 -%}<p>Labor Day Sale</p>{%- endcapture -%}
    {%- assign replo_text_b91cdb23-7b60-4054-b068-d02d7e0b1417 = replo_text_b91cdb23-7b60-4054-b068-d02d7e0b1417 | default: default_replo_text_b91cdb23-7b60-4054-b068-d02d7e0b1417 -%}
    "replo_text_b91cdb23-7b60-4054-b068-d02d7e0b1417": {{ replo_text_b91cdb23-7b60-4054-b068-d02d7e0b1417 | json }}, {%- assign replo_text_5e6fbf8a-6f01-44eb-92c9-5ec14d1acc7f = section.settings['replo_text_5e6fbf8a-6f01-44eb-92c9-5ec14d1acc7f'] -%}
    {%- capture default_replo_text_5e6fbf8a-6f01-44eb-92c9-5ec14d1acc7f -%}<p>9,000+ 5 Star Reviews</p>{%- endcapture -%}
    {%- assign replo_text_5e6fbf8a-6f01-44eb-92c9-5ec14d1acc7f = replo_text_5e6fbf8a-6f01-44eb-92c9-5ec14d1acc7f | default: default_replo_text_5e6fbf8a-6f01-44eb-92c9-5ec14d1acc7f -%}
    "replo_text_5e6fbf8a-6f01-44eb-92c9-5ec14d1acc7f": {{ replo_text_5e6fbf8a-6f01-44eb-92c9-5ec14d1acc7f | json }}, {%- assign replo_style_image_bb9874e8-875c-4b30-81a1-314454fd1721 = section.settings['replo_style_image_bb9874e8-875c-4b30-81a1-314454fd1721'] | image_url -%}
    {%- capture default_replo_style_image_bb9874e8-875c-4b30-81a1-314454fd1721 -%}https://cdn.shopify.com/s/files/1/0090/4128/1109/files/Smiley.png?v=1713534217{%- endcapture -%}
    {%- assign replo_style_image_bb9874e8-875c-4b30-81a1-314454fd1721 = replo_style_image_bb9874e8-875c-4b30-81a1-314454fd1721 | default: default_replo_style_image_bb9874e8-875c-4b30-81a1-314454fd1721 -%}
    "replo_style_image_bb9874e8-875c-4b30-81a1-314454fd1721": {{ replo_style_image_bb9874e8-875c-4b30-81a1-314454fd1721 | json }}, {%- assign replo_style_image_7c316441-6030-45db-8a5f-2cf13bbca340 = section.settings['replo_style_image_7c316441-6030-45db-8a5f-2cf13bbca340'] | image_url -%}
    {%- capture default_replo_style_image_7c316441-6030-45db-8a5f-2cf13bbca340 -%}https://cdn.shopify.com/s/files/1/0090/4128/1109/files/Chill_O_Meter.png?v=1713534216{%- endcapture -%}
    {%- assign replo_style_image_7c316441-6030-45db-8a5f-2cf13bbca340 = replo_style_image_7c316441-6030-45db-8a5f-2cf13bbca340 | default: default_replo_style_image_7c316441-6030-45db-8a5f-2cf13bbca340 -%}
    "replo_style_image_7c316441-6030-45db-8a5f-2cf13bbca340": {{ replo_style_image_7c316441-6030-45db-8a5f-2cf13bbca340 | json }}, {%- assign replo_text_c2927275-bac3-43f2-8abb-7ced54b1daa8 = section.settings['replo_text_c2927275-bac3-43f2-8abb-7ced54b1daa8'] -%}
    {%- capture default_replo_text_c2927275-bac3-43f2-8abb-7ced54b1daa8 -%}<p><b>Free Shipping Orders $75+</b></p>{%- endcapture -%}
    {%- assign replo_text_c2927275-bac3-43f2-8abb-7ced54b1daa8 = replo_text_c2927275-bac3-43f2-8abb-7ced54b1daa8 | default: default_replo_text_c2927275-bac3-43f2-8abb-7ced54b1daa8 -%}
    "replo_text_c2927275-bac3-43f2-8abb-7ced54b1daa8": {{ replo_text_c2927275-bac3-43f2-8abb-7ced54b1daa8 | json }}, {%- assign replo_style_image_9797f10c-0668-4dc3-b2bf-bd43aaf71565 = section.settings['replo_style_image_9797f10c-0668-4dc3-b2bf-bd43aaf71565'] | image_url -%}
    {%- capture default_replo_style_image_9797f10c-0668-4dc3-b2bf-bd43aaf71565 -%}https://cdn.shopify.com/s/files/1/0090/4128/1109/files/Smiley.png?v=1713534217{%- endcapture -%}
    {%- assign replo_style_image_9797f10c-0668-4dc3-b2bf-bd43aaf71565 = replo_style_image_9797f10c-0668-4dc3-b2bf-bd43aaf71565 | default: default_replo_style_image_9797f10c-0668-4dc3-b2bf-bd43aaf71565 -%}
    "replo_style_image_9797f10c-0668-4dc3-b2bf-bd43aaf71565": {{ replo_style_image_9797f10c-0668-4dc3-b2bf-bd43aaf71565 | json }}, {%- assign replo_text_a7f5b77f-4970-4884-b828-e0319b1c7c86 = section.settings['replo_text_a7f5b77f-4970-4884-b828-e0319b1c7c86'] -%}
    {%- capture default_replo_text_a7f5b77f-4970-4884-b828-e0319b1c7c86 -%}<p><b>Over&nbsp;</b></p>{%- endcapture -%}
    {%- assign replo_text_a7f5b77f-4970-4884-b828-e0319b1c7c86 = replo_text_a7f5b77f-4970-4884-b828-e0319b1c7c86 | default: default_replo_text_a7f5b77f-4970-4884-b828-e0319b1c7c86 -%}
    "replo_text_a7f5b77f-4970-4884-b828-e0319b1c7c86": {{ replo_text_a7f5b77f-4970-4884-b828-e0319b1c7c86 | json }}, {%- assign replo_url_741803ce-cc8f-4b8f-957b-11ea4338e764 = section.settings['replo_url_741803ce-cc8f-4b8f-957b-11ea4338e764'] -%}
    {%- capture default_replo_url_741803ce-cc8f-4b8f-957b-11ea4338e764 -%}https://jambys.com/collections/all-products{%- endcapture -%}
    {%- assign replo_url_741803ce-cc8f-4b8f-957b-11ea4338e764 = replo_url_741803ce-cc8f-4b8f-957b-11ea4338e764 | default: default_replo_url_741803ce-cc8f-4b8f-957b-11ea4338e764 -%}
    "replo_url_741803ce-cc8f-4b8f-957b-11ea4338e764": {{ replo_url_741803ce-cc8f-4b8f-957b-11ea4338e764 | json }}, {%- assign replo_text_b0f9f396-b89e-4df4-88ee-18ac345df4c5 = section.settings['replo_text_b0f9f396-b89e-4df4-88ee-18ac345df4c5'] -%}
    {%- capture default_replo_text_b0f9f396-b89e-4df4-88ee-18ac345df4c5 -%}<p>SHOP SALE</p>{%- endcapture -%}
    {%- assign replo_text_b0f9f396-b89e-4df4-88ee-18ac345df4c5 = replo_text_b0f9f396-b89e-4df4-88ee-18ac345df4c5 | default: default_replo_text_b0f9f396-b89e-4df4-88ee-18ac345df4c5 -%}
    "replo_text_b0f9f396-b89e-4df4-88ee-18ac345df4c5": {{ replo_text_b0f9f396-b89e-4df4-88ee-18ac345df4c5 | json }}, {%- assign replo_style_image_e82db575-335f-445b-842a-49bbf13d79f3 = section.settings['replo_style_image_e82db575-335f-445b-842a-49bbf13d79f3'] | image_url -%}
    {%- capture default_replo_style_image_e82db575-335f-445b-842a-49bbf13d79f3 -%}https://cdn.shopify.com/s/files/1/0090/4128/1109/files/GLACIERMARISA_0168TIFFS.jpg?v=1700859773{%- endcapture -%}
    {%- assign replo_style_image_e82db575-335f-445b-842a-49bbf13d79f3 = replo_style_image_e82db575-335f-445b-842a-49bbf13d79f3 | default: default_replo_style_image_e82db575-335f-445b-842a-49bbf13d79f3 -%}
    "replo_style_image_e82db575-335f-445b-842a-49bbf13d79f3": {{ replo_style_image_e82db575-335f-445b-842a-49bbf13d79f3 | json }}, {%- assign replo_text_9c4a27de-a3a7-4e4f-b2ad-c03bdd37e613 = section.settings['replo_text_9c4a27de-a3a7-4e4f-b2ad-c03bdd37e613'] -%}
    {%- capture default_replo_text_9c4a27de-a3a7-4e4f-b2ad-c03bdd37e613 -%}<p>Premium</p><p>Metal Ring</p>{%- endcapture -%}
    {%- assign replo_text_9c4a27de-a3a7-4e4f-b2ad-c03bdd37e613 = replo_text_9c4a27de-a3a7-4e4f-b2ad-c03bdd37e613 | default: default_replo_text_9c4a27de-a3a7-4e4f-b2ad-c03bdd37e613 -%}
    "replo_text_9c4a27de-a3a7-4e4f-b2ad-c03bdd37e613": {{ replo_text_9c4a27de-a3a7-4e4f-b2ad-c03bdd37e613 | json }}, {%- assign replo_style_image_6bc0e37c-5fb9-49e0-949e-4ae2b10412f3 = section.settings['replo_style_image_6bc0e37c-5fb9-49e0-949e-4ae2b10412f3'] | image_url -%}
    {%- capture default_replo_style_image_6bc0e37c-5fb9-49e0-949e-4ae2b10412f3 -%}https://cdn.shopify.com/s/files/1/0090/4128/1109/files/GLACIERMARISA_0168TIFFS.jpg?v=1700859773{%- endcapture -%}
    {%- assign replo_style_image_6bc0e37c-5fb9-49e0-949e-4ae2b10412f3 = replo_style_image_6bc0e37c-5fb9-49e0-949e-4ae2b10412f3 | default: default_replo_style_image_6bc0e37c-5fb9-49e0-949e-4ae2b10412f3 -%}
    "replo_style_image_6bc0e37c-5fb9-49e0-949e-4ae2b10412f3": {{ replo_style_image_6bc0e37c-5fb9-49e0-949e-4ae2b10412f3 | json }}, {%- assign replo_text_bfbb6192-8d10-49ad-8d97-bbfc13ade085 = section.settings['replo_text_bfbb6192-8d10-49ad-8d97-bbfc13ade085'] -%}
    {%- capture default_replo_text_bfbb6192-8d10-49ad-8d97-bbfc13ade085 -%}<p>99 Day</p><p>Risk-free trial</p>{%- endcapture -%}
    {%- assign replo_text_bfbb6192-8d10-49ad-8d97-bbfc13ade085 = replo_text_bfbb6192-8d10-49ad-8d97-bbfc13ade085 | default: default_replo_text_bfbb6192-8d10-49ad-8d97-bbfc13ade085 -%}
    "replo_text_bfbb6192-8d10-49ad-8d97-bbfc13ade085": {{ replo_text_bfbb6192-8d10-49ad-8d97-bbfc13ade085 | json }}, {%- assign replo_style_image_556cdd71-f480-45e4-9120-913feb5ccfef = section.settings['replo_style_image_556cdd71-f480-45e4-9120-913feb5ccfef'] | image_url -%}
    {%- capture default_replo_style_image_556cdd71-f480-45e4-9120-913feb5ccfef -%}https://cdn.shopify.com/s/files/1/0090/4128/1109/files/GLACIERMARISA_0168TIFFS.jpg?v=1700859773{%- endcapture -%}
    {%- assign replo_style_image_556cdd71-f480-45e4-9120-913feb5ccfef = replo_style_image_556cdd71-f480-45e4-9120-913feb5ccfef | default: default_replo_style_image_556cdd71-f480-45e4-9120-913feb5ccfef -%}
    "replo_style_image_556cdd71-f480-45e4-9120-913feb5ccfef": {{ replo_style_image_556cdd71-f480-45e4-9120-913feb5ccfef | json }}, {%- assign replo_text_4d0d9bd1-d126-4e8a-b54d-d00204b90456 = section.settings['replo_text_4d0d9bd1-d126-4e8a-b54d-d00204b90456'] -%}
    {%- capture default_replo_text_4d0d9bd1-d126-4e8a-b54d-d00204b90456 -%}<p>Lost &amp; Forever</p><p>Fit Protection</p>{%- endcapture -%}
    {%- assign replo_text_4d0d9bd1-d126-4e8a-b54d-d00204b90456 = replo_text_4d0d9bd1-d126-4e8a-b54d-d00204b90456 | default: default_replo_text_4d0d9bd1-d126-4e8a-b54d-d00204b90456 -%}
    "replo_text_4d0d9bd1-d126-4e8a-b54d-d00204b90456": {{ replo_text_4d0d9bd1-d126-4e8a-b54d-d00204b90456 | json }}, {%- assign replo_url_0ae7f44c-f301-4491-86e9-04c7618a9392 = section.settings['replo_url_0ae7f44c-f301-4491-86e9-04c7618a9392'] -%}
    {%- capture default_replo_url_0ae7f44c-f301-4491-86e9-04c7618a9392 -%}https://www.jambys.com/collections/all-products{%- endcapture -%}
    {%- assign replo_url_0ae7f44c-f301-4491-86e9-04c7618a9392 = replo_url_0ae7f44c-f301-4491-86e9-04c7618a9392 | default: default_replo_url_0ae7f44c-f301-4491-86e9-04c7618a9392 -%}
    "replo_url_0ae7f44c-f301-4491-86e9-04c7618a9392": {{ replo_url_0ae7f44c-f301-4491-86e9-04c7618a9392 | json }}, {%- assign replo_style_image_ed92727e-e1d9-4e0b-bbfb-ebe770f472a0 = section.settings['replo_style_image_ed92727e-e1d9-4e0b-bbfb-ebe770f472a0'] | image_url -%}
    {%- capture default_replo_style_image_ed92727e-e1d9-4e0b-bbfb-ebe770f472a0 -%}https://cdn.shopify.com/s/files/1/0090/4128/1109/files/jamad-sofia-jambys.webp?v=1712235640{%- endcapture -%}
    {%- assign replo_style_image_ed92727e-e1d9-4e0b-bbfb-ebe770f472a0 = replo_style_image_ed92727e-e1d9-4e0b-bbfb-ebe770f472a0 | default: default_replo_style_image_ed92727e-e1d9-4e0b-bbfb-ebe770f472a0 -%}
    "replo_style_image_ed92727e-e1d9-4e0b-bbfb-ebe770f472a0": {{ replo_style_image_ed92727e-e1d9-4e0b-bbfb-ebe770f472a0 | json }}
    }</script>
  {%- comment -%}replo-liquid-chunk-end{%- endcomment -%}