<style>
#shopify-section-{{section.id}} .shop-by-category {
  overflow-x:hidden;
  padding: 50px 0;
  background-color:{{ section.settings.section_background }};
}
.shop-by-category-alt{
  display:none;
}
.shop-by-category-alt .shop-by-category-content h2{
 padding-top:12px;
}

.shop-by-title-wrapper{
  display:flex;
  align-items:center;
  justify-content:space-between;
}
.shop-by-title-wrapper h2{
  text-align:left;
  font-size:40px;
}
.shop-by-link{
  border:2px solid #36409A;
  color:#36409A;
  border-radius: 32px;
  padding: 8px 24px;
  font-size:20px;
  font-weight:600;
}
.shop-by-category-items{
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-top:32px;
}
.shop-by-category-items div{
  text-align:left;
  background:#ECEBFF;
  border-radius:24px;
}
.shop-by-category-items div img{
  border-radius:24px 24px 0 0;
  width:100%;
}
.shop-by-category-content{
  text-align:left;
  padding:16px;
  display:flex;
  flex-direction:column;
  gap:12px;
}
.shop-by-category-content h2{
  text-align:left;
  margin:0;
  font-size:24px;
}
.shop-by-category-content p{
  text-align:left;
  margin:0;
  font-size:16px;
}


@media screen and (max-width: 768px) {
  .shop-by-title-wrapper h2{
    text-align:left;
    font-size:24px;
  }
  .shop-by-category-items{
    grid-template-columns: repeat(2, 1fr);
  }
  .shop-by-category-content{
    padding:12px;
    gap:4px;
  }
  .shop-by-link{
    padding: 8px 20px;
    font-size:14px;
    width:100%;
    max-width:112px;
    border:1px solid #36409A;
    font-weight:500;
    text-align:center;
  }
  .shop-by-category-content h2{
    font-size:16px;
  }
  .shop-by-category-content p{
    font-size:14px;
    line-height:19.04px;
  }

}
</style>



<div class="shop-by-category {{section.settings.section_custom_class}}">
  <div class="wide-container">
    <div class="shop-by-title-wrapper">
      <h2 class="shop-by-title">{{ section.settings.section_title }}</h2>
      <a href="/collections/all-products" class="shop-by-link">Shop All</a>
    </div>
    <div class="shop-by-category-items">
    {%- for block in section.blocks -%}
      <div>
        <a href="{{ block.settings.category_link }}">
          {%- case block.type -%}
            {%- when 'category' -%}
              {{ block.settings.category_image | image_url: width: category_image.width | image_tag: class: '', loading: 'lazy' }}
              <div class="shop-by-category-content">
                <h2>{{ block.settings.category_title }}</h2>
                <p>{{ block.settings.category_description }}</p>
              </div>
          {%- endcase -%}
        </a>
      </div>
    {%- endfor -%}
    </div>
  </div>
</div>
{% schema %}
  {
  "name": "Dtc shop by category",
  "class": "shop-by-category-section",
  "settings": [
    {
      "type": "text",
      "id": "section_custom_class",
      "label": "Section custom class",
      "placeholder": "Custom class"
    },
    {
      "type": "text",
      "id": "section_title",
      "label": "Section Title",
      "default": "Categories",
      "placeholder": "Section Title"
    },
    {
      "type": "color",
      "id": "section_background",
      "label": "Section background",
      "default": "#F3F4F9"
    }
  ],
  "blocks": [
    {
      "name": "Category",
      "type": "category",
      "settings": [
        {
          "type": "image_picker",
          "id": "category_image",
          "label": "Category Image"
        },
        {
          "type": "text",
          "id": "category_title",
          "label": "Category Title"
        },
        {
          "type": "text",
          "id": "category_description",
          "label": "Category Description"
        },
        {
          "type": "url",
          "id": "category_link",
          "label": "Category Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "dtc Shop By Category"
    }
  ]
}  
{% endschema %}