{%- assign title_with_line_breaks = section.settings.title | newline_to_br -%}

{% style %}
  {% if section.settings.color_scheme == "custom" %}
    .section-id-{{ section.id }} {
      background: {{ section.settings.color_bg }};
      --cust-text-color: {{ section.settings.color_text }};
    }

    {% if section.settings.button_style == 'auto' %}
      #section-id-{{ section.id }} .button:hover {
        background-color: {{ section.settings.color_text }};
        color: {{ section.settings.color_bg }};
        border-color: {{ section.settings.color_bg }};
      }
    {% endif %}
  {% endif %}

  {% unless section.settings.bg_image == blank %}
    .section-id-{{ section.id }} {
      background-attachment: fixed;
      background-size: cover;
      background-repeat: no-repeat;
      padding: 5rem;
    }

    .section-id-{{ section.id }}.lazy-background {
      background-image: url("{{ section.settings.bg_image | img_url: '2000x' }}");
    }

    #section-id-{{ section.id }} h2 {
      font-family: kansasnew,serif;
      text-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    }
    #section-id-{{ section.id }} p {
      text-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    }

     @media(max-width: 768px) {
        .section-id-{{ section.id }} {
          padding: 50px 0 0;
          background-attachment: initial;
        }
     }
    
  {% endunless %}

  .section-id-{{ section.id }} {
     font-weight: {{ section.settings.font_weight}};
     font-size: {{ section.settings.font_size }}px;
  }

  @media(min-width: 768px) {
    .image-with-text__image {
      padding: 3rem 0;
    }
    .section-id-{{ section.id }} .image-with-text__image__inner {
      {% if section.settings.media_size == "cover" %}
        transform: scale({{ section.settings.image_width | times: 0.01 }});
      {% elsif section.settings.media_size == "contain" %}
        height: auto !important;
        width: {{ section.settings.image_width }}% !important;
      {% endif %}
    }

    .section-id-{{ section.id }} .feature-header {
      {%- assign title_size_medium = section.settings.title_size | times: 0.7 -%}
      font-size: {{ title_size_medium }}px;
    }

    .section-id-{{ section.id }} .image-with-text__text {
      flex-basis: {{ section.settings.text_width }}%;
    }

    .section-id-{{ section.id }} .image-with-text__image__inner .rimage-outer-wrapper {
      background-size: {{ section.settings.media_size }};
    }
  }

  @media (min-width: 992px) {
    .section-id-{{ section.id }} .feature-header {
      font-size: {{ section.settings.title_size }}px;
    }
  }

  /* Maintain newlines if specified */
  {%- if title_with_line_breaks != blank and title_with_line_breaks contains '<br />' -%}
    @media (min-width: 375px) {
      .section-id-{{ section.id }} .feature-header {
        white-space: nowrap;
      }
    }
  {%- endif -%}

  /* Styling to allow duplicate mobile-only heading above image */
  .image-with-text__mobile_heading {
    display: none;
  }
  @media (max-width: 767px) {
    .image-with-text__mobile_heading {
      padding-top: 70px;
      display: block;
      order: 0;
    }
    .image-with-text__mobile_heading + .image-with-text__image {
      padding-top: 0;
    }
    .image-with-text__mobile_heading ~ .image-with-text__text .feature-header,
    .image-with-text__mobile_heading ~ .image-with-text__text .feature-subheader {
      display: none;
    }
  }

  /* Bulleted list */
  .image-with-text__bullet .h3 {
    text-align: left;
    margin-bottom: 0.25rem;
  }
  .image-with-text__bullet .rte > :first-child {
    margin-top: 0;
  }
  .section-id-{{ section.id }} .image-with-text__bullet {
    {%- if block.settings.custom_bullet_point_icon -%}
      background-image: url('{{ block.settings.custom_bullet_point_icon }}');
    {%- else -%}
      background-image: url('{{ 'icon-checkmark.svg' | asset_url }}');
    {%- endif -%}
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 32px 32px;
    min-height: 32px;
    padding-left: 48px;
    margin-bottom: 1.5rem;
  }
{% endstyle %}

{%- if section.settings.wave != "none" -%}
  {%- render 'wave-styles', 
              wave_position: section.settings.wave, 
              section_id: section.id
              fill_color: section.settings.color_bg -%}
{%- endif -%}

{% capture image_html %}
  <div class="image-with-text__image lazyload--placeholder">
    <div class="image-with-text__image__inner">
      {%- if section.settings.image == blank and section.settings.video == blank -%}
        <div class="placeholder-image">{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}</div>
      {%- elsif section.settings.video == blank -%}
        <div class="rimage-outer-wrapper lazyload fade-in"
            data-cc-animate="cc-zoom-out"
            data-bgset="{% render 'bgset', image: section.settings.image %}"
            data-sizes="auto"
            data-parent-fit="cover"
            style="max-width: {{ section.settings.image.width }}px; max-height: {{ section.settings.image.height }}px">
          <div class="rimage-wrapper" style="padding-top:{{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%">
            <noscript>
              <img src="{{ section.settings.image | img_url: '1024x1024' }}" alt="{{ section.settings.image.alt | escape }}" class="rimage__image">
            </noscript>
          </div>
        </div>
      {%- else -%}
        {% render 'inline-video', video: section.settings.video, image: section.settings.image %}
      {% endif %}
    </div>
  </div>
{% endcapture %}

<div class="image-with-text cf lazy-background
  section-id-{{ section.id }} use-{{ section.settings.color_scheme }}-bg
  {% if section.settings.image_width < 100 and section.settings.media_size == "contain" %}section-spacing-sm{% endif %}
  image-with-text--{{ section.settings.media_size }}
" id="section-id-{{ section.id }}" data-section-type="image-with-text" data-cc-animate>

  {%- if section.settings.title_above_image_mobile -%}
    <div class="image-with-text__mobile_heading">
      {% if section.settings.subheading != blank %}
        <div class="feature-subheader" data-cc-animate="cc-fade-in-up" data-cc-animate-delay="0.1s">{{ section.settings.subheading | escape }}</div>
      {% endif %}

      {% if section.settings.title != blank %}
        <h2 class="feature-header h2 align-{{ section.settings.text_alignment }}" data-cc-animate="cc-fade-in-up" data-cc-animate-delay="0.2s">
          {{ title_with_line_breaks }}
        </h2>
      {% endif %}
    </div>
  {%- endif -%}

  {% if section.settings.image_position == 'left' %}{{ image_html }}{% endif %}

  <div class="image-with-text__text align-{{ section.settings.text_alignment }}">
    <div class="image-with-text__text__wrap
        {% if brightness < 190 and alpha > 0 %}inherit-colors{% endif %}
        {% if section.settings.image_width < 100 and section.settings.media_size == "contain" %}padded-block-y{% else %}padded-block{% endif %}
      ">
      {% if section.settings.subheading != blank %}
        <div class="feature-subheader" data-cc-animate="cc-fade-in-up" data-cc-animate-delay="0.1s">{{ section.settings.subheading | escape }}</div>
      {% endif %}

      {% if section.settings.title != blank %}
        <h2 class="feature-header h2 align-{{ section.settings.text_alignment }}" data-cc-animate="cc-fade-in-up" data-cc-animate-delay="0.2s">
          {{ title_with_line_breaks }}
        </h2>
      {% endif %}

      {%- if section.settings.text != blank -%}
        <div class="rte align-{{ section.settings.text_alignment }}" data-cc-animate="cc-fade-in-up" data-cc-animate-delay="0.3s">{{ section.settings.text }}</div>
      {%- endif -%}


      {%- assign bullet_points = section.blocks | where: 'type', 'bullet_point' -%}
      {%- if bullet_points.size > 0 -%}
        <div class="image-with-text__bullet-list">
          {%- for block in bullet_points -%}
            <div class="image-with-text__bullet">
              <h3 class="h3">{{ block.settings.title }}</h3>
              <div class="rte">{{ block.settings.text }}</div>
            </div>
          {%- endfor -%}
        </div>
      {%- endif -%}

      {% if section.settings.button_label != blank %}

      <div class="button-row" data-cc-animate="cc-fade-in-up" data-cc-animate-delay="0.4s">
        {% if section.settings.button_link != blank %}
          <a data-cc-animate-click class="
            {% if section.settings.button_style != 'auto' %}button-custom {% endif %}
            {% if section.settings.button_arrowless %}button--arrowless{% endif %}
            {% if section.settings.button_style == 'link' %}link-display {% else %}button {% if section.settings.button_style == 'secondary' %}alt{% endif %}{% endif %}"
             href="{{ section.settings.button_link }}">
        {% else %}
          <span class="
            {% if section.settings.button_style != 'auto' %}button-custom {% endif %}
            {% if section.settings.button_arrowless %}button--arrowless{% endif %}
            {% if section.settings.button_style == 'link' %}link-display {% else %}button {% if section.settings.button_style == 'secondary' %}alt{% endif %}{% endif %}">
        {% endif %}

          {{ section.settings.button_label | escape }}

        {% if section.settings.button_link == blank %}
          </span>
        {% else %}
          </a>
        {% endif %}
      </div>

      {% endif %}
    </div>
  </div>

  {% if section.settings.image_position == 'right' %}{{ image_html }}{% endif %}

</div>


{% schema %}
  {
    "name": "Media with text",
    "class": "section-image-with-text",
    "settings": [
      {
        "type": "header",
        "content": "Text"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading"
      },
      {
        "type": "textarea",
        "id": "title",
        "label": "Heading",
        "default": "Media with text"
      },
      {
        "type": "checkbox",
        "id": "title_above_image_mobile",
        "label": "Show title above image on mobile"
      },
      {
        "type": "range",
        "id": "title_size",
        "min": 16,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Heading text size",
        "default": 28
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Use this text to share information about your store with your customers. Describe product, share announcements, or welcome customers to your store.</p>"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      },
      {
        "type": "checkbox",
        "id": "button_arrowless",
        "label": "Hide button arrow?"
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "Text alignment",
        "default": "center",
        "options": [
          {
            "label": "Left",
            "value": "left"
          },
          {
            "label": "Center",
            "value": "center"
          },
          {
            "label": "Right",
            "value": "right"
          }
        ]
      },
      {
        "type": "range",
        "id": "text_width",
        "min": 30,
        "max": 70,
        "step": 1,
        "unit": "%",
        "label": "Text width",
        "default": 50
      },
      {
        "type": "select",
        "id": "button_style",
        "label": "Button style",
        "default": "auto",
        "options": [
          {
            "label": "Button - primary",
            "value": "primary"
          },
          {
            "label": "Button - secondary",
            "value": "secondary"
          },
          {
            "label": "Button - auto",
            "value": "auto"
          },
          {
            "label": "Link",
            "value": "link"
          }
        ]
      },
      {
        "type": "header",
        "content": "Media"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image",
        "info": "If you're using an mp4 video, it's recommended to also add an image, which will be shown while the video loads"
      },
      {
        "id": "video",
        "type": "text",
        "label": "MP4 video URL",
        "info": "E.g. https://example.com/video.mp4 - will not work with YouTube or Vimeo. [Learn more](https://cleancanvas.co.uk/support/showcase/sections/#inner-anchor-5)"
      },
      {
        "type": "range",
        "id": "image_width",
        "min": 40,
        "max": 100,
        "step": 1,
        "unit": "%",
        "label": "Media scale",
        "default": 100
      },
      {
        "type": "select",
        "id": "image_position",
        "label": "Media position",
        "default": "right",
        "options": [
          {
            "value": "right",
            "label": "Right"
          },
          {
            "value": "left",
            "label": "Left"
          }
        ]
      },
      {
        "type": "select",
        "id": "media_size",
        "label": "Media size",
        "options": [
          {
            "value": "cover",
            "label": "Fill"
          },
          {
            "value": "contain",
            "label": "Natural"
          }
        ],
        "default": "cover"
      },
      {
        "type": "header",
        "content": "Style"
      },
      {
        "type": "radio",
        "id": "color_scheme",
        "label": "Color scheme",
        "default": "standard",
        "options": [
          {
            "value": "standard",
            "label": "Standard"
          },
          {
            "value": "alt",
            "label": "Alternate colors"
          },
          {
            "value": "custom",
            "label": "Custom colors"
          }
        ]
      },
      {
        "type": "color",
        "id": "color_bg",
        "label": "Custom background color"
      },
      {
        "type": "color",
        "id": "color_text",
        "label": "Custom text color"
      },
      {
        "type": "image_picker",
        "id": "bg_image",
        "label": "Background Image"
      },
      {
        "type": "range",
        "id": "font_size",
        "min": 12,
        "max": 24,
        "step": 1,
        "unit": "px",
        "label": "Body font size",
        "default": 18
      },
      {
        "type": "range",
        "id": "font_weight",
        "min": 100,
        "max": 900,
        "step": 100,
        "label": "Body font weight",
        "default": 600
      },
      {
        "type": "select",
        "id": "wave",
        "label": "Wave",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "top",
            "label": "Top"
          },
          {
            "value": "bottom",
            "label": "Bottom"
          },
          {
            "value": "both",
            "label": "Both"
          }
        ],
        "default": "none"
      },
      {
        "type": "text",
        "id": "custom_bullet_point_icon",
        "label": "Custom bullet point icon",
        "info": "Enter the URL of an SVG or PNG uploaded to Shopify."
      }
    ],
    "blocks": [
      {
        "type": "bullet_point",
        "name": "Bullet Point",
        "settings": [
          {
            "type": "textarea",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Media with text",
        "settings": {}
      }
    ]
  }
{% endschema %}