<style>
  .junip-product-summary{
    display:none;
  }

    .is-color span.cc-checkbox__label::before {
        width: 44px;
        height: 44px;
        left: -48px;
        top: 1px;
    }
    .is-color span.cc-checkbox__label::after {
        top: 17px;
        left:-28px;
    }
    @media screen and (max-width: 768px) {
        .is-color span.cc-checkbox__label::before {
            width: 58px;
            height: 58px;
            left: -58px;
            top: 2px;
        }
        .is-color span.cc-checkbox__label::after {
            left: -31px;
            top: 25px;
        }
        #FacetsForm .cc-accordion:nth-child(2) .cc-accordion-item__content label.cc-checkbox .color-swatch {
            width : 3.4em;
            height : 3.4em;
          }
    }
    @media screen and (max-width: 950px){
        #FacetsForm .cc-accordion:nth-child(2) .cc-accordion-item__content label.cc-checkbox .color-swatch {
          width : 2.5em;
          height : 2.5em;
        }
      }
</style>
{%- liquid
  if collection.url.size == 0
    assign results_url = routes.all_products_collection_url
  else
    assign results_url = collection.url
  endif

  if results_url contains "?"
    assign results_url = results_url | split: "?" | first
  endif

  assign current_sort_by = collection.sort_by | default: collection.default_sort_by
-%}
{% assign quick_links = section.blocks | where: 'type', 'quick_link' %}

{% if quick_links.size > 0 %}
  <style>
  /* Proteus experiment quicklinks */
  .quicklinks_title {
    font-weight: 600;
    margin-bottom: 14px;
  }
  .experiment-quicklinks {
    overflow-x : scroll;
    margin-top : 10px;
    white-space : nowrap;
    padding-bottom : 0px !important;
  }

  .experiment-quicklinks-item {
    display : inline-block;
    margin : 0px 10px;
    width : 16vw;
    white-space : break-spaces;
    vertical-align : top;
  }

  .experiment-quicklinks img {
    width : 16vw;
    border-radius : 50%;
    border : 2px solid rgb(54, 64, 154);
  }

  .experiment-quicklinks p {
    text-align : center;
    font-size : 12px;
    line-height : 1.2;
    margin : 2px -5px 0px -5px;
  }

  .experiment-quicklinks::-webkit-scrollbar {
    display : none !important;
  }

  .experiment-quicklinks.quicklinks-desktop .experiment-quicklinks-item img {
    float : left;
    margin-bottom : 10px;
    width : 64px !important;
  }

  @media screen and (max-width: 768px) {
    .experiment-quicklinks.quicklinks-desktop {
      display : none;
    }
    .experiment-quicklinks p {
      font-size : 14px !important;
    }
  }
  @media screen and (min-width: 769px) {
    .experiment-quicklinks.quicklinks-mobile {
      display : none;
    }
  }
  </style>
{% endif %}
<div data-section-type="collection-template"
     data-ajax-filtering="{{ section.settings.ajax_products }}"
     data-components="tabs,product-block,price-range,accordion,sticky-scroll-direction"
     class="pb-medium {% if section.settings.show_collection_image and collection.featured_image %}header-overlap-section{% elsif collection.metafields.collection.video %}{% elsif section.settings.show_collection_content %}pt-medium{% else %}sm:pt-medium{% endif %}" data-cc-animate>

  {% paginate collection.products by section.settings.products_per_page %}
    {% if section.settings.show_collection_image and collection.featured_image %}
      <div class="collection-header image-overlay image-overlay--bg-full needs-alt-logo">
        <div class="rimage-outer-wrapper rimage-background lazyload fade-in"
             data-cc-animate="cc-fade-in-zoom-out"
             data-bgset="{% render 'bgset', image: collection.featured_image %}"
             data-sizes="auto"
             data-parent-fit="cover">
          <noscript>
            <div class="rimage-wrapper" style="padding-top:{{ 1 | divided_by: collection.featured_image.aspect_ratio | times: 100 }}%">
              <img src="{{ collection.featured_image | img_url: '1024x1024' }}" alt="{{ collection.featured_image.alt | escape }}" class="rimage__image">
            </div>
          </noscript>
        </div>

        <div class="overlay-type overlay" data-cc-animate="cc-fade-in-zoom-out">
          <div class="overlay__content">
    {% endif %}


    {% if collection.metafields.collection.video != blank %}
    <style>
      .collection-video-container {
        position: relative;
      }
      .collection-video {
        width: 100%;
      }
      .video-overlay {
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: unset;
        top: calc(50% - 5rem);
      }
    </style>
    <div class="collection-video-container">
      <video class="collection-video" autoplay playsinline muted loop>
        <source src="{{ collection.metafields.collection.video }}" type="video/mp4">
      </video>

      <div class="overlay-type overlay video-overlay" data-cc-animate="cc-fade-in-zoom-out">
        <div class="overlay__content">
    {% endif %}

    {% render "product-type-compare" %}

    {% if collection.metafields.collection.video != blank %}
        </div>
      </div>
    </div>
    {% endif %}

    {% if section.settings.show_collection_image and collection.featured_image %}
          </div>
        </div>
      </div>
    {% endif %}
  
    {% assign icon_blocks = section.blocks | where: 'type', 'filter_icon' %}
    {% assign swatch_blocks = section.blocks | where: 'type', 'filter_swatch' %}
    <style>
      {% for product_type_block in icon_blocks %}
        .{{ product_type_block.settings.product_type | downcase | escape | replace: " ", "-"| replace:"+","\\+" }} {
          order: {{forloop.index0}}
        }
      {% endfor%}
    </style>
    
    {% render "top-search-filter",
      mode: "collection",
      results: collection,
      section: section,
      results_url: results_url,
      paginate: paginate,
      current_sort_by: current_sort_by,
      icons: icon_blocks,
      color_swatches: swatch_blocks,
      quick_links: quick_links
    %}

    {% if collection.description != blank and section.settings.description_position == "bottom" and section.settings.show_collection_content == true %}
      <div class="central footer">
        <div class="content transparent">
          <div class="rte">
            {{ collection.description }}
          </div>
        </div>
      </div>
    {% endif %}
  {% endpaginate %}
</div>

{% schema %}
  {
    "name": "Collection pages",
    "class": "theme-filter-container",
    "settings": [
      {
        "type": "header",
        "content": "Header"
      },
      {
        "type": "checkbox",
        "id": "show_collection_content",
        "label": "Show collection title/description",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_collection_image",
        "label": "Show collection image",
        "default": true
      },
      {
        "type": "select",
        "id": "description_position",
        "label": "Description position",
        "options": [
          {
            "value": "top",
            "label": "Top"
          },
          {
            "value": "bottom",
            "label": "Bottom"
          }
        ]
      },
      {
        "type": "header",
        "content": "GRID"
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "options": [
          {
            "value": "columns",
            "label": "Collage"
          },
          {
            "value": "rows",
            "label": "Grid"
          }
        ],
        "default": "rows",
        "info": "Collage will only work when the 'Image shape' is set to Natural - in Products / Image shape"
      },
      {
        "type": "range",
        "id": "grid",
        "label": "Desktop products per row",
        "min": 2,
        "max": 4,
        "default": 3
      },
      {
        "type": "select",
        "id": "grid_mobile",
        "label": "Mobile products per row",
        "options": [
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "2",
            "label": "2"
          }
        ],
        "default": "2"
      },
      {
        "type": "range",
        "id": "products_per_page",
        "label": "Products per page",
        "min": 12,
        "max": 48,
        "step": 6,
        "default": 18
      },
      {
        "type": "checkbox",
        "id": "enable_infinite_scroll",
        "label": "Enable infinite-scroll",
        "default": true,
        "info": "As visitors scroll down, more products are loaded in automatically."
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show product vendor",
        "default": false
      },
      {
        "type": "header",
        "content": "FILTERS"
      },
      {
        "type": "paragraph",
        "content": "To create the collection filters, go to your [navigation](\/admin\/menus) page."
      },
      {
        "type": "checkbox",
        "id": "show_filter_counts",
        "label": "Show filter counts",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_filter_deadends",
        "label": "Show filters with zero results",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "ajax_products",
        "label": "Filter and sort without reloading the page",
        "default": true,
        "info": "Some apps require this to be disabled"
      },
      {
        "type": "radio",
        "id": "filter_mode",
        "label": "Filter mode",
        "default": "sidebar",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "simple",
            "label": "Simple"
          },
          {
            "value": "sidebar",
            "label": "Sidebar"
          }
        ],
        "info": "'Simple' is only recommended if you have a small number of filters. Note, it doesn't allow for multiple options within a filter to be selected and it won't show the price range filter."
      },
      {
        "type": "header",
        "content": "Sidebar Settings"
      },
      {
        "type": "checkbox",
        "id": "sticky_sidebar",
        "label": "Stick the sidebar on scroll",
        "default": true
      },
      {
        "type": "select",
        "id": "collapse_filters_method",
        "label": "Filter group collapse",
        "default": "none",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "over-6",
            "label": "Over 6 items"
          },
          {
            "value": "over-12",
            "label": "Over 12 items"
          },
          {
            "value": "over-18",
            "label": "Over 18 items"
          },
          {
            "value": "all",
            "label": "All"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "collapse_sort_by",
        "label": "Collapse 'Sort by' filter group",
        "default": false
      },
      {
        "type": "header",
        "content": "Sorting"
      },
      {
        "type": "checkbox",
        "id": "enable_sorting",
        "label": "Enable sorting",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_featured_in_sort",
        "label": "Show 'Featured' option in sorting dropdown",
        "default": false
      }
    ],
    "blocks": [
      {
         "type": "@app"
      },
      {
        "type": "filter_icon",
        "name": "Filter Icon",
        "settings": [
          {
            "type": "image_picker",
            "id": "filter_icon_img",
            "label": "Icon on Product Type Filter"
          },
          {
            "type": "text",
            "id": "product_type",
            "label": "Product type this icon will show on"
          }
        ]
      },
      {
        "type": "filter_swatch",
        "name": "Filter Color Swatch",
        "settings": [
          {
            "type": "text",
            "id": "color_name",
            "label": "Name of color that swatch will show on"
          },
          {
            "type": "color",
            "id": "filter_swatch_color",
            "label": "Color used for swatch"
          },
          {
            "type": "image_picker",
            "id": "filter_swatch_image",
            "label": "Image used for swatch"
          }
        ]
      },
      {
        "type": "quick_link",
        "name": "Quick Link",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Link Title"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ]
  }
{% endschema %}
