{{ 'new-hero.css' | asset_url |  stylesheet_tag }}

<div class="new-hero-desktop__container">
  <div class="new-hero-desktop__content-container">
  {% for block in section.blocks %}
    <div class="new-hero-desktop__content">
      <a class="new-hero-desktop__content-image" href="{{ block.settings.url }}">
        <img class="new-hero-desktop__content-image" src="{{ block.settings.image | image_url: width: 800 }}" alt="Hero Image" width="auto" height="auto" loading="lazy" />
      </a>
        <div class="new-hero-desktop__content-wrapper">
        <h1 class="new-hero-desktop__content-title">{{ block.settings.title }}</h1>
        <p class="new-hero-desktop__content-description">{{ block.settings.description }}</p>
        <a class="new-hero-desktop__cta" href="{{ block.settings.url }}">{{ block.settings.cta_text }}</a>
      </div>
    </div>
  {% endfor %}
  </div>
  
</div>

{% schema %}
  {
    "name": "New Hero",
    "tag": "section",
    "class": "slideshow",
    "blocks": [
       {
         "name": "Block",
         "type": "block",
         "settings": [
           {
             "type": "image_picker",
             "id": "image",
             "label": "Image"
           },
           {
             "type": "richtext",
             "id": "title",
             "label": "Title"
           },
           {
             "type": "text",
             "id": "description",
             "label": "Description"
           },
           {
             "type": "url",
             "id": "url",
             "label": "CTA Url"
           },
           {
             "type": "text",
             "id": "cta_text",
             "label": "CTA Text"
           }
         ]
       }
    ],
    "presets": [
      {
        "name": "New Hero"
      }
    ]
  }
  {% endschema %}
  