{{ 'lity.css' | asset_url | stylesheet_tag }}
{{ 'outfit-builder.css' | asset_url | stylesheet_tag }}
<style>
.product button[disabled]:before{
  content: "currently unavailable";
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  text-align: center;
  color: red;
  background: #ddd;
}
.product button[disabled]{
  position: relative;
  background-color: #ddd;
  border-color: #ddd;
  opacity: .5;
  color: #000;
}
</style>
<section class="outfit-builder product-area">

  {% comment %} START {% endcomment %}
  <div class="step-start js-start outfit-builder-step js-outfit-builder-step">
    <div class="outfit-builder-picture js-outfit-builder-picture" style="background-color:{{section.settings.start_bg_color}};">
      <div class="outfit-single-picture">
        <div class="outfit-builder-savings">
          <div class="savings-layout">
            <span class="discount-value">{{section.settings.discount_value}}</span>
            <span class="discount-label">{{section.settings.discount_label}}</span>
          </div>
        </div>
        <div class="mobile-star-wrapper" ecl="true">
          <div class="mobile-star-container" ecl="true">
            {% include 'icon-builder-star' %}
            <span class="discount-value" style="" ecl="true">{{section.settings.discount_value}}</span>
            <span class="discount-label" ecl="true">{{section.settings.discount_label}}</span>
          </div>
        </div>
        <img src="{{section.settings.start_image | img_url: 'master'}}" alt="{{section.settings.start_image.alt}}" class="desktop-only" />
        <img src="{{section.settings.start_image_mob | img_url: 'master'}}" alt="{{section.settings.start_image_mob.alt}}" class="mobile-only" />
      </div>
    </div>
    <div class="outfit-builder-details step-start js-start">
      <div class="outfit-start-title outfit-title">
        <h1>{{section.settings.start_title}}</h1>
        <div class="start-text start-text-desktop">{{section.settings.start_text}}</div>
        <div class="start-text start-text-mobile">{{section.settings.start_text_mob}}</div>
      </div>
      <div class="outfit-start-info">
        <h2 class="choose-title">Choose</h2>
        <div class="start-steps">
          <div class="start-step">
            <div class="step-item">
              <h4 class="h4">1. Your Top</h4>
              <p>JamTee or House Hoodie</p>
            </div>
            <div class="step-pictures">
              <div class="icon-step icon-top-short"></div>
              <div class="icon-step icon-top-long"></div>
            </div>
          </div>
          <div class="start-step">
            <div class="step-item">
              <h4 class="h4">2. Your Bottom</h4>
              <p>Jambys or Long Jambys</p>
            </div>
            <div class="step-pictures">
              <div class="icon-step icon-bottom-short"></div>
              <div class="icon-step icon-bottom-long"></div>
            </div>
          </div>
        </div>
        <div class="button to-choose-top js-to-choose-top js-button-height">
          Start Building Your Outfit
          <img src="{{'icon-next-arrow.svg' | file_url }}" class="next_step" alt="next step" />
        </div>
      </div>
    </div>
  </div>

  {% comment %} TOPS {% endcomment %}
  <div class="step-choose-top js-choose-top outfit-builder-step js-outfit-builder-step" style="display: none;">
    <div class="outfit-builder-picture js-outfit-builder-picture">
      <div class="d-lg-none mobile-breadcrumb">
        <div class="back js-back-to-start"></div>
        <div class="mobile-breadcrumb-text">Step 1: Choose Top</div>
        <div class="close"></div>
      </div>
      <div class="outfit-gallery">
        {% assign product_top_short = section.settings.product_top_short %}
        {% assign product = all_products[product_top_short] %}
        {% assign current_variant = product.selected_or_first_available_variant %}
        <div class="outfit-content-gallery top">
        {% render 'builder-images-slider', product: product %}
        </div>
      </div>
    </div>
    <div class="outfit-builder-details js-outfit-builder-details">
      <div class="outfit-breacrumbs">
        <ul>
          <li class="completed">Choose Top <i></i></li>
          <li>Choose Bottom <i></i></li>
          <li>Add to Cart <i></i></li>
        </ul>
      </div>
      <div class="outfit-single-details">
        <div class="outfit-tops-title outfit-title">
          <div class="title-wrap">
            <i class="js-outfit-back js-back-to-start outfit-back"></i>
            <h2>1: Choose Top</h2>
          </div>
          <div class="toggle-wrap">
            <div class="outfit-toggle top-toggle">
              <div
                class="js-show-top-short show-top-short toggle-button toggle-left"
                data-apparel-type="top"
                data-apparel-length="short"
                data-product-type="JamTee"
              >
                JamTee
              </div>
              <div
                class="js-show-top-long show-top-long toggle-button toggle-right"
                data-apparel-type="top"
                data-apparel-length="long"
                data-product-type="House Hoodie"
              >
                House Hoodie
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="outfit-content outfit-form outfit-form-top js-form-top">
        {% include 'builder-top' %}
      </div>
    </div>
  </div>

  {% comment %} BOTTOMS {% endcomment %}
  <div class="step-choose-bottom js-choose-bottom outfit-builder-step js-outfit-builder-step" style="display: none;">
    <div class="outfit-builder-picture js-outfit-builder-picture">
      <div class="mobile-only mobile-breadcrumb">
        <div class="back js-back-to-tops"></div>
        <div class="mobile-breadcrumb-text">Step 2: Choose Bottom</div>
        <div class="close"></div>
      </div>
      <div class="outfit-gallery">
        {% assign product_bottom_short = section.settings.product_bottom_short %}
        {% assign product = all_products[product_bottom_short] %}
        {% assign current_variant = product.selected_or_first_available_variant %}
        <div class="outfit-content-gallery bottom">
          {% render 'builder-images-slider', product: product %}
        </div>
      </div>
    </div>
    <div class="outfit-builder-details js-outfit-builder-details">
      <div class="outfit-single-details">
        <div class="outfit-breacrumbs">
          <ul>
            <li class="completed js-back-to-top">Choose Top <i></i></li>
            <li class="completed">Choose Bottom <i></i></li>
            <li>Add to Cart <i></i></li>
          </ul>
        </div>
        <div class="outfit-bottoms-title  outfit-title">
          <div class="title-wrap">
            <i class="js-outfit-back js-back-to-tops outfit-back"></i>
            <h2>2: Choose Bottom</h2>
          </div>
          <div class="toggle-wrap">
            <div class="outfit-toggle bottom-toggle">
              <div class="js-show-bottom-short show-bottom-short toggle-button toggle-left"
                data-apparel-type="bottom"
                data-apparel-length="short"
                data-product-type="Jambys"
              >
                Jambys
              </div>
              <div class="js-show-bottom-long show-bottom-long toggle-button toggle-right"
                data-apparel-type="bottom"
                data-apparel-length="long"
                data-product-type="Long Jambys"
              >
                Long Jambys
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="outfit-content outfit-form outfit-form-bottom js-form-bottom">
        {% include 'builder-bottom' %}
      </div>
    </div>
  </div>

  {% comment %} REVIEW {% endcomment %}
  <div class="step-review js-review outfit-builder-step js-outfit-builder-step" style="display: none;">
    <div class="outfit-builder-picture js-outfit-builder-picture">
      <div class="mobile-only mobile-breadcrumb">
        <div class="back" style="background: none;"></div>
        <div class="mobile-breadcrumb-text">Review Selection</div>
        <div class="close"></div>
      </div>
      <div class="outfit-success">
        <div class="outfit-builder-savings">
          <div class="savings-layout">
            <span class="discount-value">{{section.settings.discount_value}}</span>
            <span class="discount-label">{{section.settings.discount_label}}</span>
          </div>
        </div>
        <img src="{{section.settings.review_image | img_url: 'master'}}" alt="{{section.settings.review_image.alt}}" class="desktop-only" />
        <img src="{{section.settings.review_image_mob | img_url: 'master'}}" alt="{{section.settings.review_image_mob.alt}}" class="mobile-only" />
      </div>
    </div>
    <div class="outfit-builder-details js-outfit-builder-details">
      <div class="outfit-single-details">
        <div class="outfit-breacrumbs">
          <ul>
            <li class="completed js-back-to-top">Choose Top <i></i></li>
            <li class="completed js-back-to-bottom">Choose Bottom <i></i></li>
            <li class="completed">Add to Cart <i></i></li>
          </ul>
        </div>
        <div class="outfit-review-title outfit-title outfit-review-title-desktop">
          <h1>{{section.settings.review_title}}</h1>
          <div class="review-subtitle">{{section.settings.review_subtitle}}</div>
        </div>
        <div class="outfit-review-title outfit-title outfit-review-title-mobile">
          <h1>{{section.settings.review_title_mob}}</h1>
        </div>
        <div class="outfit-review-info">
          <div class="review-item review-item-top js-review-item-top">
            <div class="review-item-details">
              <div class="review-item-picture top">
                <img src="{{'outfit-top-temp.jpg' | file_url }}" alt="Top Selection" />
              </div>
              <div class="review-item-specific">
                <h3 class="js-top-title">JamTee</h3>
                <span class="review-color js-review-top-color">in color</span>
                <br>
                <span class="review-size js-review-top-size">Size: M</span>
              </div>
            </div>
            <div class="review-item-change js-review-top-change">Reselect</div>
          </div>
          <div class="review-item review-item-bottom js-review-item-bottom">
            <div class="review-item-details">
              <div class="review-item-picture bottom">
                <img src="{{ 'outfit-bottom-temp.jpg' | file_url}}" alt="Bottom Selection" />
              </div>
              <div class="review-item-specific">
                <h3 class="js-bottom-title">Long Jambys</h3>
                <span class="review-color js-review-bottom-color">in color</span>
                <br>
                <span class="review-size js-review-bottom-size">Size: M</span>
              </div>
            </div>
            <div class="review-item-change js-review-bottom-change">Reselect</div>
          </div>
        </div>
        <div class="add-to-cart">
          <button class="button add-to-cart-btn js-button-height">
            <span class="atc">Add Outfit to Cart</span>
            <p>
              <span class="old-price">
                <span class="js-old-price" style="color:white;margin-right:0;">$125</span>
              </span>
              <span class="new-price js-new-price">$105</span>
            </p>
          </button>
          <div class="savings js-savings">
            Amazing!&nbsp;You Saved&nbsp;<span id="js-total-savings" class="total-savings">$20</span>!
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="{{ 'lity.js' | asset_url }}" async="true"></script>

<script>
  window.colorSwatchCollection = {{ color_collection | json }};
</script>

{% comment %}
<script src="{{ 'product.js' | asset_url }}" defer="defer"></script>
{% endcomment %}

<script src="{{ 'outfit-builder.js' | asset_url }}" defer="defer"></script>

<script>
   $(document).ready(function() {

    let all_color_selectors = document.querySelectorAll('.product-color-swatches.product-colorways');
    
    for(let i = 0; i < all_color_selectors.length; i++){
      console.log("::: init default color: ", i);

      let liElement = all_color_selectors?.[i]?.querySelector('li a');
      
      if(liElement) {
        liElement?.classList?.add("is-selected");
      }
    }

    $(".js-choose-top").hide();
    $(".js-choose-bottom").hide();
    $(".js-review").hide();
    // adjustBodySectionHeight();

    /// OUTFIT TOGGLE THING TO SHOW HIDE INFO - DELETE ME IF YOU REPLACE ME!

    //Set the initial state: highlight the first button...
    $('.outfit-toggle').find('.toggle-button:eq(0)').addClass('active');

    //and hide all tab content except the first one
    $('.outfit-content').find('> .builder-panel:eq(0)').nextAll().hide();

    //actions that apply on click of any of the buttons
    $('.outfit-toggle .toggle-button').click(function(event) {

      let prod_type = event.target.getAttribute("data-product-type");
      document.querySelector(`[data-js-product-type="${prod_type}"].is-selected`).click();

      //turn off the link so it doesn't try to jump down the page
      event.preventDefault();

      //un-highlight the buttons
      $('.outfit-toggle .toggle-button').removeClass('active');

      //hide all the slides
      $('.outfit-content > .builder-panel').hide();

      //highlight the current button
      $(this).addClass('active');

      //get the index of the current button...
      var index = $('.outfit-toggle .toggle-button').index(this);

      //and use that index to show the corresponding slide
      $('.outfit-content > .builder-panel:eq(' + index + ')').show();

      var $this = $(this);
      var apparelType = $this.data("apparel-type");
      var apparelLength = $this.data("apparel-length");
      $(".js-" + apparelType + "-" + apparelLength + " .js-builder-color-swatch[data-js-product-selected-first]").click();
      // adjustBodySectionHeight();
    });


    $(".js-builder-color-swatch").on("click", function(e) {
      e.preventDefault();

      var $this = $(this);

      var productHandle = $this.data("js-product-handle");
      var productId = $this.data("js-product-id");
      var productColor = $this.data("js-product-color");
      var $parentContainer = $this.parents(".builder-panel");
      var galleryType = $parentContainer.data("apparel-type");
      var $grandParentContainer = $this.parents(".outfit-builder-step");
      var $colorContainer = $this.parents(".product-colors");
      var $textColor = $parentContainer.find(".js-option-color-txt");

      // Getting mockup and variant data
      var identifier = "#" + productHandle + "-" + productId;
      var sizeMockup = $(identifier + "-size-mockup").html();
      var galleryMockup = $(identifier + "-gallery-mockup").html();
      var variantDetails = JSON.parse($(identifier + "-variants-details").html());

      // Color swatches visual changes
      var $selectedColor = $parentContainer.find(".is-selected");

      $selectedColor.removeClass("is-selected");
      $this.addClass("is-selected");

      $textColor.text(productColor);

      // Size swatches replace with new sets of sizes
      var $selectedSizeSwatch = $parentContainer.find('[type="radio"]:checked');
      var sizeSwatchContainer = $parentContainer.find(".product-options-wrapper.rel");
      var previousSelectedSize = $selectedSizeSwatch.val();

      sizeSwatchContainer.html(sizeMockup);

      // disable ATC if inventory not available
      let section_atc = e.target.closest('.product').querySelector('button');
      let swatch_sizes = e.target.closest('.product-selections').querySelectorAll('.product-size .radio input');
      for(let i = 0; i < swatch_sizes.length; i++){
        if(!swatch_sizes[i].disabled){
          section_atc.removeAttribute("disabled");
          break;
        } else if(swatch_sizes[i].disabled && i == swatch_sizes.length - 1){
          section_atc.setAttribute("disabled", true);
        }
      }

      $parentContainer.find('[type="radio"][value="' + previousSelectedSize + '"]').click();

      $(".outfit-content-gallery." + galleryType).html(galleryMockup);
      window.Carousel($grandParentContainer.get(0));
      // console.log($grandParentContainer.get(0))
      // console.log({galleryType})
      // console.log(galleryMockup)

      var discountAmount = 1 - {{ section.settings.discount_amount }} / 100;

      // Update Price
      var $oldPrice = $parentContainer.find(".js-old-price");
      var $newPrice = $parentContainer.find(".js-new-price");

      if (variantDetails?.[previousSelectedSize]?.price) {
        $oldPrice.html(window.formatMoney(variantDetails[previousSelectedSize].price, {% raw %}"${{amount_no_decimals}}"{% endraw%}));
        $newPrice.html(window.formatMoney(variantDetails[previousSelectedSize].price * discountAmount));
      }
    });

    window.selected_items = {};


    $(".js-to-choose-top").click(function() {
      window.scrollTo({top: 0, behavior: 'smooth'});

      $(".js-start").hide();
      $(".js-choose-bottom").hide();
      $(".js-review").hide();
      $(".js-choose-top").show();

      clickFirstSwatch(".js-builder-color-swatch.is-selected");
      // adjustBodySectionHeight();
    });

    $(".js-back-to-start").click(function() {
      window.scrollTo({top: 0, behavior: 'smooth'});
      $(".js-start").show();
      $(".js-choose-bottom").hide();
      $(".js-review").hide();
      $(".js-choose-top").hide();
      // adjustBodySectionHeight();
    });

    $(".js-back-to-tops, .js-review-top-change").click(function() {
      window.scrollTo({top: 0, behavior: 'smooth'});
      $(".js-start").hide();
      $(".js-choose-top").show();
      $(".js-choose-bottom").hide();
      $(".js-review").hide();
      $(".js-show-top-short").click();
      // adjustBodySectionHeight();
    });

    $(".js-review-bottom-change").click(function() {
      window.scrollTo({top: 0, behavior: 'smooth'});
      $(".js-start").hide();
      $(".js-choose-top").hide();
      $(".js-review").hide();
      $(".js-choose-bottom").show();
      // adjustBodySectionHeight();
    });

    $(".js-to-choose-bottom").on("click", function() {
      window.scrollTo({top: 0, behavior: 'smooth'});

      $(".js-start").hide();
      $(".js-choose-top").hide();
      $(".js-review").hide();
      $(".js-choose-bottom").show();

      $(".js-show-bottom-short").click();

      var $this = $(this);
      var $parentContainer = $this.parents(".builder-panel");

      var $selectedColorSwatch = $parentContainer.find(".is-selected");
      var $selectedSizeSwatch = $parentContainer.find('[type="radio"]:checked');

      var productHandle = $selectedColorSwatch.data("js-product-handle");
      var productId = $selectedColorSwatch.data("js-product-id");
      var productTitle = $selectedColorSwatch?.data("js-product-title")?.split(" ") || [];
      var productType = $selectedColorSwatch.data("js-product-type");
      var productFeatImg = $selectedColorSwatch.data("js-product-feat-img");

      var identifier = "#" + productHandle + "-" + productId;
      var variantDetails = JSON.parse($(identifier + "-variants-details").html());

      var selectedSize = $selectedSizeSwatch.val();

      if (productTitle.length) {
        if(productTitle.includes("New")) {
          productTitle.pop();
          productTitle = productTitle.join(" ");
        } else {
          productTitle = productTitle.shift()
        }
      } else {
        productTitle = '';
      }

      window.selected_items.top = {
        id: variantDetails[selectedSize].variantId,
        size: selectedSize,
        color: productTitle,
        img: productFeatImg,
        type: productType,
        price: variantDetails[selectedSize].price,
      }

      if (window.selected_items.bottom) {
        $(".js-choose-bottom").hide();
        $(".js-review").show();
        updatePreviewPage();
      } else {
        clickFirstSwatch(".js-to-review");
      }
    });

    $(".js-to-review").click(function() {
      window.scrollTo({top: 0, behavior: 'smooth'});

      $(".js-start").hide();
      $(".js-choose-top").hide();
      $(".js-choose-bottom").hide();
      $(".js-review").show();
      // adjustBodySectionHeight()

      var $this = $(this);
      var $parentContainer = $this.parents(".builder-panel");

      var $selectedColorSwatch = $parentContainer.find(".is-selected");
      var $selectedSizeSwatch = $parentContainer.find('[type="radio"]:checked');

      var productHandle = $selectedColorSwatch.data("js-product-handle");
      var productId = $selectedColorSwatch.data("js-product-id");
      var productTitle = $selectedColorSwatch?.data("js-product-title")?.split() || [];
      var productType = $selectedColorSwatch.data("js-product-type");
      var productFeatImg = $selectedColorSwatch.data("js-product-feat-img");

      var identifier = "#" + productHandle + "-" + productId;
      var variantDetails = JSON.parse($(identifier + "-variants-details").html());

      var selectedSize = $selectedSizeSwatch.val();

      if (productTitle.length) {
        if(productTitle.includes("New")) {
          productTitle.pop();
          productTitle = productTitle.join(" ");
        } else {
          productTitle = productTitle.shift()
        }
      } else {
        productTitle = '';
      }

      window.selected_items.bottom = {
        id: variantDetails[selectedSize].variantId,
        size: selectedSize,
        color: productTitle,
        img: productFeatImg,
        type: productType,
        price: variantDetails[selectedSize].price,
      }

      updatePreviewPage();
    });

    $(".add-to-cart-btn").on("click", function() {
      $.post('/cart/add.js', {
          items: [{
              quantity: 1,
              id: window.selected_items.top.id,
              properties: {
                "_bundle": "Outfit Builder",
                "_type": "top"
              }
            },
            {
              quantity: 1,
              id: window.selected_items.bottom.id,
              properties: {
                "_bundle": "Outfit Builder",
                "_type": "bottom"
              }
            },
          ]
        })
        .done(function(data) {
          console.log("Success: ", data);
          toggleCart();

          getCart().then(response => {
            document.querySelectorAll('.cart-count').forEach(element => element.innerHTML = response.item_count);
            document.querySelectorAll('[data-toggle-cart] .text-link').forEach(element => element.innerHTML = response.item_count);
          });
          // document.dispatchEvent(new Event('rebuy.add'));
        })
        .catch(function(err) {
          console.log("Error: ", err);
        });
    });

    function clickFirstSwatch(btnClassName) {
      setTimeout(function() {
        window.dispatchEvent(new Event('resize'));
        window.scrollTo({top: 0, behavior: 'smooth'});
      });
      var $button = $(btnClassName).eq(0);
      var $parentContainer = $button.parents(".builder-panel");
      var $selectedColorSwatch = $parentContainer.find(".is-selected");
      $selectedColorSwatch.click();
    }

    function updatePreviewPage() {
      $(".js-top-title").text(window.selected_items.top.type);
      $(".js-bottom-title").text(window.selected_items.bottom.type);

      $(".js-review-top-color").text("in " + window.selected_items.top.color);
      $(".js-review-bottom-color").text("in " + window.selected_items.bottom.color);

      $(".js-review-top-size").text("Size: " + window.selected_items.top.size);
      $(".js-review-bottom-size").text("Size: " + window.selected_items.bottom.size);

      $(".review-item-picture.top img").attr("src", window.selected_items.top.img);
      $(".review-item-picture.bottom img").attr("src", window.selected_items.bottom.img);

      var oldPrice = window.selected_items.top.price + window.selected_items.bottom.price;
      var newPrice = oldPrice * (1 - {{ section.settings.discount_amount }} / 100);
      var savings = oldPrice - newPrice;

      var $addToCart = $(".add-to-cart-btn");
      var $oldPrice = $addToCart.find(".js-old-price");
      var $newPrice = $addToCart.find(".js-new-price");
      $oldPrice.html(window.formatMoney(oldPrice, {% raw %}"${{amount_no_decimals}}"{% endraw %}));
      $newPrice.html(window.formatMoney(newPrice));
      $("#js-total-savings").text(window.formatMoney(savings));
    }

  });

</script>



{% schema %}
{
   "name":"Outfit Builder",
   "settings":[
      {
         "type":"header",
         "content":"Global"
      },
      {
         "type":"textarea",
         "id":"guarantee",
         "label":"Guarantee",
         "default":"Jambys has a 77-day no-question-guarantee on your first product."
      },
      {
         "type":"text",
         "id":"discount_value",
         "label":"Discount Value"
      },
      {
         "type":"text",
         "id":"discount_amount",
         "label":"Discount Amount",
         "info": "Numbers only",
         "default": "15"
      },
      {
         "type":"text",
         "id":"discount_label",
         "label":"Discount Label"
      },
      {
         "type":"header",
         "content":"Start"
      },
      {
         "type":"image_picker",
         "id":"start_image",
         "label":"Start Image"
      },
      {
        "type": "color",
        "id": "start_bg_color",
        "label": "Background Color Gap",
        "default": "#7B85E3",
        "info": "To fill gap from end of photo to footer"
      },
      {
         "type":"image_picker",
         "id":"start_image_mob",
         "label":"Start Image Mobile"
      },
      {
         "type":"textarea",
         "id":"start_title",
         "label":"Start Title",
         "default":"Build Your Outfit"
      },
      {
         "type":"textarea",
         "id":"start_text",
         "label":"Start Text"
      },
      {
         "type":"textarea",
         "id":"start_text_mob",
         "label":"Start Text Mobile"
      },
      {
         "type":"header",
         "content":"Tops"
      },
      {
        "type": "range",
        "id": "carousel_height",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "%",
        "label": "Mobile Height of Model Carousel",
        "default": 70
      },
      {
        "type": "range",
        "id": "carousel_height_desktop",
        "min": 600,
        "max": 800,
        "step": 5,
        "unit": "px",
        "label": "Desktop Height of Model Carousel",
        "default": 700
      },
      {
         "type":"collection",
         "id":"collection_top_short",
         "label":"Short Tops"
      },
      {
         "type":"collection",
         "id":"collection_top_long",
         "label":"Long Tops"
      },
      {
         "type":"product",
         "id":"product_top_short",
         "label":"Top (short)"
      },
      {
         "type":"product",
         "id":"product_top_long",
         "label":"Top (long)"
      },
      {
         "type":"textarea",
         "id":"top_text",
         "label":"Text (short)"
      },
      {
         "type":"textarea",
         "id":"top_text_long",
         "label":"Text (long)"
      },
      {
         "type":"header",
         "content":"Bottoms"
      },
      {
         "type":"product",
         "id":"product_bottom_short",
         "label":"Bottom (short)"
      },
      {
         "type":"product",
         "id":"product_bottom_long",
         "label":"Bottom (long)"
      },
      {
         "type":"collection",
         "id":"collection_bottom_short",
         "label":"Short Bottoms"
      },
      {
         "type":"collection",
         "id":"collection_bottom_long",
         "label":"Long Bottoms"
      },
      {
         "type":"textarea",
         "id":"bottom_text",
         "label":"Text"
      },
      {
         "type":"textarea",
         "id":"bottom_text_long",
         "label":"Text (long)"
      },
      {
         "type":"header",
         "content":"Review"
      },
      {
         "type":"image_picker",
         "id":"review_image",
         "label":"Review Image"
      },
      {
         "type":"image_picker",
         "id":"review_image_mob",
         "label":"Review Image Mobile"
      },
      {
         "type":"text",
         "id":"review_title",
         "label":"Review Title"
      },
      {
         "type":"textarea",
         "id":"review_subtitle",
         "label":"Review Subtitle"
      },
      {
         "type":"text",
         "id":"review_title_mob",
         "label":"Review Title Mobile"
      },
      {
        "type": "header",
        "content": "Size Chart"
      },
      {
        "type": "richtext",
        "id": "size_top_desktop",
        "label": "Top sizing desktop",
        "default": "<p>Fit is standard. Size up if you want a bigger, looser fit. If you’re in doubt, we always suggest sizing up, but with the way the material stretches, there’s plenty of forgiveness. Still stuck? Just email us some more info or DM us a screenshot on Instagram. We make returns free and easy to make sure you end up with the perfect Jambys!</p>"
      },
      {
        "type": "richtext",
        "id": "size_top_mobile",
        "label": "Top sizing mobile",
        "default": "<p>Still not sure or gifting? Just email us some more info or DM us an Instagram screenshot.</p>"
      },
      {
        "type": "richtext",
        "id": "size_bottom_desktop",
        "label": "Bottom sizing desktop",
        "default": "<p>If you're in doubt between sizes, size down for a feel closer to boxers, and size up for a feel closer to shorts. Don't worry: we make exchanges super easy. Still not sure or gifting? Just <a href=\"mailto:hello@jambys.com\">email us</a>&nbsp;some more info or <a title=\"Jambys Instagram\" href=\"https://www.instagram.com/jambys/\" target=\"_blank\" rel=\"noopener\">DM us an Instagram screenshot</a>. Whatever works. We don't rest until you have the perfect Jambys.</p>"
      },
      {
        "type": "richtext",
        "id": "size_bottom_mobile",
        "label": "Bottom sizing mobile",
        "default": "<p>Still not sure or gifting? Just email us some more info or DM us an Instagram screenshot.</p>"
      }
   ],
	 "blocks": [
		{
			"type": "tops-generic",
			"name": "Tops Guide",
			"settings": [
				{
					"type": "text",
					"id": "col_1",
					"label": "Column 1"
				},
				{
					"type": "text",
					"id": "col_2",
					"label": "Column 2"
				},
				{
					"type": "text",
					"id": "col_3",
					"label": "Column 3"
				},
				{
					"type": "text",
					"id": "col_4",
					"label": "Column 4"
				},
				{
					"type": "text",
					"id": "col_5",
					"label": "Column 5"
				}
			]
		},
		{
			"type": "bottom-generic",
			"name": "Bottoms Guid",
			"settings": [
				{
					"type": "text",
					"id": "col_1",
					"label": "Column 1"
				},
				{
					"type": "text",
					"id": "col_2",
					"label": "Column 2"
				},
				{
					"type": "text",
					"id": "col_3",
					"label": "Column 3"
				},
				{
					"type": "text",
					"id": "col_4",
					"label": "Column 4"
				},
				{
					"type": "text",
					"id": "col_5",
					"label": "Column 5"
				}
			]
		}
	],
  "presets": [
    {
      "name": "Outfit Builder",
      "settings": {}
    }
  ]
}
{% endschema %}
